@import '../../css/mx_icon_mixin.less';
/*.mx-draw--btn-edit {*/
/*&:before {*/
/*icon-font: url('./svg/edit.svg');*/
/*}*/
/*}*/
.mx-draw--btn-edit {
  &:before {
    .mx-icon-mask(url('../../svg/icons/vertices.svg'));
  }
  &:after {
    .mx-icon-mask(url('../../svg/icons/pointer.svg'));
    position: absolute;
    top: 3px;
    left: 3px;
  }
}
.mx-draw--btn-point {
  &:before {
    .mx-icon-mask(url('../../svg/icons/point.svg'));
  }
  &:after {
    content: '+';
    position: absolute;
    top: 5px;
    left: 10px;
  }
}
.mx-draw--btn-line {
  &:before {
    .mx-icon-mask(url('../../svg/icons/line.svg'));
  }
  &:after {
    content: '+';
    position: absolute;
    top: 5px;
    left: 10px;
  }
}
.mx-draw--btn-polygon {
  &:before {
    .mx-icon-mask(url('../../svg/icons/polygon.svg'));
  }
  &:after {
    content: '+';
    position: absolute;
    top: 5px;
    left: 10px;
  }
}
.mx-draw--btn-circle {
  &:before {
    .mx-icon-mask(url('../../svg/icons/circle.svg'));
  }
  &:after {
    content: '+';
    position: absolute;
    top: 5px;
    left: 10px;
  }
}
.mx-draw--btn-trash {
  &:before {
    .mx-icon-mask(url('../../svg/icons/trash.svg'));
  }
}
.mx-draw--btn-save {
  &:before {
    .mx-icon-mask(url('../../svg/icons/floppy.svg'));
  }
}

.mx-draw--btn-combine {
  &:before {
    .mx-icon-mask(url('../../svg/icons/combine.svg'));
  }
}

.mx-draw--btn-uncombine {
  &:before {
    .mx-icon-mask(url('../../svg/icons/uncombine.svg'));
  }
}
.mx-draw--btn-help {
  &:before {
    .mx-icon-mask(url('../../svg/icons/vertices.svg'));
  }
  &:after {
    content: '?';
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 0.7em;
  }
}
.mx-draw--btn {
  border: 1px solid var(--mx_ui_view_gj_checked)!important;
}
.mapboxgl-map.mouse-pointer {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: pointer;
  }
}
.mapboxgl-map.mouse-move {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: move;
  }
}
.mapboxgl-map.mouse-add {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: crosshair;
  }
}
.mapboxgl-map.mouse-move.mode-direct_select {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}
.mapboxgl-map.mode-direct_select.feature-vertex.mouse-move {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: move;
  }
}
.mapboxgl-map.mode-direct_select.feature-midpoint.mouse-pointer {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: cell;
  }
}
.mapboxgl-map.mode-direct_select.feature-feature.mouse-move {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: move;
  }
}
.mapboxgl-map.mode-static.mouse-pointer {
  .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
}
