$red: red;
$blue: blue;
$green: green;
$orange: orange;

body,
html {
  font-family: sans, helvetica;
}

button {
  font-size: 1em;
}

.hidden {
  display: none;
}

.passed {
  color : $green;
}
.error,
.ws-error {
  color : $red;
}

.ws-status {
  color : $blue;
}
.normal,
.ws-timer {
  color : $blue;
}

.warning,
.ws-warning {
  color : $orange
}

