.dashboard {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.dashboard .widget {
  display: block;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.dashboard .widget--content {
  background: var(--mx_ui_background);
  color: var(--mx_ui_text);
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden;
  border: 1px solid var(--mx_ui_border);
  border-radius: 11px;
}

.dashboard .btn-widget {
  opacity: 0.2;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 10px;
  padding: 0px;
  padding-bottom: 3px;
  margin: 2px;
  font-size: 10px;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out,
    height 0.3s ease-in-out;
  z-index: 100;
}

.dashboard .btn-widget-group {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  bottom:0;/*top = overlap with panel buttons when bottom right  */
}

.dashboard .btn-widget:hover {
  opacity: 1;
}

.dashboard .widget.muuri-item-dragging {
  z-index: 3;
}
.dashboard .widget.muuri-item-releasing {
  z-index: 2;
}
.dashboard .widget.muuri-item-hidden {
  z-index: 0;
}
/**
* gutter size of 5,grid of 50 : Æ’ (n){return (n + ((n / 50) * 5)-5)}
*/

.widget.y50 {
  height: 50px;
}
.widget.y1 {
  height: 160px;
}
.widget.y2 {
  height: 325px;
}
.widget.y3 {
  height: 490px;
}
.widget.y3 {
  height: 655px;
}
.widget.x50 {
  width: 50px;
}
.widget.x1 {
  width: 160px;
}
.widget.x2 {
  width: 325px;
}
.widget.x3 {
  width: 490px;
}
.widget.x4 {
  width: 655px;
}
