.vf-partial-border-side {
  position: relative;
  padding:5px;
  margin-left:5px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:0.8em;
  text-align: center;
}

.vf-partial-border-side::after,
.vf-partial-border-side::before {
  content: '';
  position: absolute;
  border: 1px solid #ccc;
}

.vf-partial-border-side::before {
  height: 100%;
  width: 10px;
  right: 0px;
  border-left: none;
  top: 0px;
}

.vf-partial-border-side::after {
  height: 100%;
  width: 10px;
  left: 0px;
  border-right: none;
  top: 0px;
}

.vf-check-toggle-group {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  max-height: 140px;
}

.vf-check-toggle {
  display: flex;
  padding: 3px;
}

.vf-check-toggle .vf-check-toggle-label {
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items:center;
  text-overflow: ellipsis;
  width: auto;
  padding: 0px;
  margin: 0px;
  margin-left: 6px;
}

.vf-check-toggle .vf-check-toggle-filter-count {
  font-size: 0.9em;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.7;
  transform:scale(1.2);
  transition: transform 500ms;
  width:2em;
}

.vf-check-toggle .vf-check-toggle-filter-count.updated {
  transform:scale(1);
}
.vf-check-toggle .vf-check-toggle-filter-count:hover {
  transform:scale(1.2);
}
