.icon-flash {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  z-index: 10000;
}

.icon-flash i {
  font-size: 150px;
  opacity: 0.3;
  transition: all 4s ease-out;
}

