.medium-toolbar-arrow-under:after {
  border-color: var(--mx_ui_background) transparent transparent transparent;
  top: 40px;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent var(--mx_ui_background) transparent;
}

.mc .medium-editor-toolbar {
  background-color: var(--mx_ui_text);
  border: none;
  border-radius: 50px;
  color: var(--mx_ui_text);
}
.mc .medium-editor-toolbar li button {
  background-color: var(--mx_ui_text);
  border: none;
  box-sizing: border-box;
  height: 40px;
  min-width: 40px;
  padding: 5px 12px;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.mc .medium-editor-toolbar li button:not(.medium-editor-button-active) *  {
  color: var(--mx_ui_background);
}
.mc .medium-editor-toolbar li button:hover,
.mc .medium-editor-toolbar li button.medium-editor-button-active {
  background-color: var(--mx_ui_background);
}

.mc .medium-editor-toolbar li button:hover * ,
.mc .medium-edotor-toolbar li button.medium-editor-button-active * {
  color: var(--mx_ui_text);
}

.mc .medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.mc .medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 50px;
  border-right: none;
  border-top-right-radius: 50px;
}


.mc .medium-editor-toolbar-form {
  background: var(--mx_ui_background);
  border-radius: 50px;
  color: var(--mx_ui_text);
  overflow: hidden;
}
.mc .medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: var(--mx_ui_background);
  box-sizing: border-box;
  color: var(--mx_ui_text);
  height: 40px;
  padding-left: 16px;
  width: 220px;
}
.mc
  .medium-editor-toolbar-form
  .medium-editor-toolbar-input::-webkit-input-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8);
}
.mc .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
  /* Firefox 18- */
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8);
}
.mc .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8);
}
.mc
  .medium-editor-toolbar-form
  .medium-editor-toolbar-input:-ms-input-placeholder {
  color: #f8f5f3;
  color: rgba(248, 245, 243, 0.8);
}
.mc .medium-editor-toolbar-form a {
  color: var(--mx_ui_text);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.mc .medium-editor-toolbar-form .medium-editor-toolbar-close {
  margin-right: 16px;
}

.mc .medium-editor-toolbar-anchor-preview {
  background: var(--mx_ui_background);
  border-radius: 50px;
  padding: 5px 12px;
}

.mc .medium-editor-anchor-preview a {
  color: var(--mx_ui_text);
  text-decoration: none;
}

.mc .medium-editor-toolbar-actions li,
.mc .medium-editor-toolbar-actions button {
  border-radius: 50px;
}
