# settings
settings/settings-local.R
# History files
.Rhistory
.Rprofile
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# packrate
packrat/lib*/
.DS_Store
.Rproj.user
tests/testthat/packrat/
packrat-scenario*/
# libre office temp file
.~lock*
# node module
node_modules
