# settings
settings/settings-local.R
# History files
.Rhistory
.Rprofile
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf

.DS_Store
.Rproj.user
packrat-scenario*/
# libre office temp file
.~lock*
# node module
node_modules

#Update script
mxRemoteUpdate.sh


