[submodule "submodules/mapx-style"]
	path = submodules/mapx-style
	url = https://github.com/unep-grid/mapx-style

[submodule "submodules/zartigl"]
	path = submodules/zartigl
	url = https://github.com/fxi/zartigl
