.nc-main {
  --nc_notif_default: #000;
  --nc_notif_message: #14b0f8;
  --nc_notif_progress: #9c8e0f;
  --nc_notif_verbose: #5d5c5c;
  --nc_notif_error: #da0606;
  --nc_notif_warning: #f3ab05;
  --nc_notif_success: #7ed41b;
  --nc_progress_background: #868686;

  --nc_group_border: #525252;
  --nc_merge_border: #525252;

  --nc_group_backgroud: var(--mx_ui_background);
  --nc_background: var(--mx_ui_background_faded);
  --nc_notif_text: var(--mx_ui_text);
  --nc_border_size: 10px;
  --nc_border_radius: 10px;

  display: flex;
  flex-direction: row-reverse;
  margin: var(--nc_border_size);
  max-height: calc(100% - var(--nc_border_size) * 2);
  min-height: calc(100% - var(--nc_border_size) * 2);
  overflow: hidden;
  color: var(--nc_notif_text);
  background-color: var(--nc_background);
  border-radius: var(--nc_border_radius);
  * {
    color: var(--nc_notif_text);
  }
  &:after {
    content: "";
    width: calc(100% - var(--nc_border_size) * 2);
    height: calc(100% - var(--nc_border_size) * 2);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 14px 3px var(--mx_ui_shadow);
    pointer-events: none;
    margin: var(--nc_border_size);
    border-radius: var(--nc_border_radius);
  }
  .nc-controls {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 5px;

    .nc-button {
      background: var(--nc_background);
      height: 30px;
      width: 30px;
      margin: 4px;
      border-radius: 50%;
    }
  }
  .nc-container {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    &:empty:after {
      content: "0 Notification";
      text-align: center;
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nc-group-container {
      background: var(--nc_group_backgroud);
      padding: 10px;
      border-radius: 10px;
      margin: 5px;
      .nc-group-header {
        display: flex;
        justify-content: flex-end;
        .nc-group-date {
          font-size: 0.85em;
        }
      }
      .nc-group {
        padding: 10px;
        overflow: hidden;
        &:after {
          content: "";
          margin-left: 20px;
          margin-right: 20px;
          border-bottom: 1px solid var(--nc_group_border);
        }
      }
    }
    .nc-merge {
      padding-left: 10px;
      border-left: 1px solid var(--nc_merge_border);
      margin-top: 9px;
      font-size: 0.95em;
    }
    .nc-notif {
      padding-left: 10px;
      border-left: 1px solid var(--nc_notif_default);
      margin-top: 9px;
      font-size: 0.95em;
      word-break: break-all;
      samp {
        font-size: 0.9em;
      }
      &.nc-notif-progress {
        border-color: var(--nc_notif_progress);
        .nc-progress-bar-container {
          border-radius: 5px;
          overflow: hidden;
          background: var(--nc_progress_background);
          -webkit-box-shadow: inset 1px 0px 7px -1px #000000;
          box-shadow: inset 1px 0px 7px -1px #000000;
          .nc-progress-bar {
            width: 0%;
            background: var(--nc_notif_progress);
            height: 5px;
            transition: width 200ms ease-in;
          }
        }
      }

      &.nc-notif-info-verbose {
        border-color: var(--nc_notif_verbose);
      }
      &.nc-notif-info-success {
        border-color: var(--nc_notif_success);
      }
      &.nc-notif-info-message {
        border-color: var(--nc_notif_message);
      }
      &.nc-notif-info-error {
        border-color: var(--nc_notif_error);
      }
      &.nc-notif-info-warning {
        border-color: var(--nc_notif_warning);
      }
    }
  }
}
