.mc {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 5px;
  --mc-color-warning: hsl(40, 100%, 50%);
  --mc-color-error: hsl(20, 100%, 50%);
  --mc-color-contrast-dark: #474747;
  --mc-color-contrast-medium: #ccc;
  --mc-color-contrast-light: #fff;
  --mc-color-background: #fff;
  --mc-color-text: #000;
  --mc-color-border: #ccc;
  --mc-box-scale: 1;
  --mc-item-scale-content: 1;
  --mc-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.4);
  .mc-box {
    transform-origin: top left;
    user-select: none;
    transition: transform 0.1s ease-out;
  }
  .mc-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    > .mc-toolbar {
      position: relative;
    }
    > .mc-workspace {
      position: relative;
    }
    .mc-item {
      color: var(--mc-color-text);
      background-color: var(--mc-color-background);
      * {
        color: var(--mc-color-text);
      }
    }
  }
  .mc-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .mc-box.mc-toolbar {
    min-width: 180px;
    max-width: 180px;
    padding: 10px;
    .btn {
      width: 100%;
    }
    .btn-group {
      width: 100%;
      .btn {
        width: auto;
      }
    }
    overflow-y: auto;
  }
  .mc-workspace {
    flex-grow: 1;
    padding: 0px;
    height: 100%;
  }
  .mc-workspace-content {
    padding: 0px;
    height: 100%;
    width: 100%;
  }
  .mc-page {
    background: var(--mc-color-background);
    position: relative;
    box-shadow: var(--mc-shadow);
  }
  .mc-page-content {
    &::after {
      content: "";
      inset: 0;
      position: absolute;
      outline: 1px dashed red;
      pointer-events: none;
    }
    .mc-item {
      padding: 5px;
      position: absolute;
      z-index: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
      font-size: 1em;
      box-shadow: var(--mc-shadow);
      * {
        user-select: auto !important;
      }

      &.mc-item-title,
      &.mc-item-text,
      &.mc-item-element,
      &.mc-item-title {
        border: 1px solid var(--mc-color-background);
        padding: 10px;
        width: 100%;
        overflow: hidden;
        height: 100%;
        padding: 10px;
      }
      &.mc-item-scalable-font [data-mc_editable="true"],
      &.mc-item-scalable-font[data-mc_editable="true"] {
        font-size: calc(var(--mc-item-scale-content) * 1em);
      }
      .mc-item-scalable-image {
        transform: scale(var(--mc-item-scale-content));
      }
    }
  }
  .mc-box {
    position: absolute;
    min-width: 30px;
    min-height: 30px;
  }
  .mc-box.mc-focus {
    z-index: 1;
  }
  .mc-handle {
    --mc-handle-size: calc(10px / var(--mc-box-scale));
    --mc-handle-size-half: calc(var(--mc-handle-size) / 2);
    position: absolute;
    width: var(--mc-handle-size);
    height: var(--mc-handle-size);
    &:empty {
      background-color: var(--mc-color-contrast-dark);
    }
    border-radius: 50%;
    opacity: 0.7;
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    > .mc-handle-icon {
      font-size: calc(1rem / var(--mc-box-scale));
      transform-origin: center, center;
      &:hover {
        transform: scale(1.14);
      }
    }
    // Larger hit box
    &:after {
      top: calc(-1 * var(--mc-handle-size));
      left: calc(-1 * var(--mc-handle-size));
      width: calc(3 * var(--mc-handle-size));
      height: calc(3 * var(--mc-handle-size));
      position: absolute;
      background-color: var(--mc-color-contrast-medium);
      content: "";
      border-radius: 50%;
      opacity: 0.2;
    }
    &.mc-handle-remove {
      right: calc(-1 * var(--mc-handle-size-half));
      top: calc(-1 * var(--mc-handle-size-half));
      cursor: pointer;
    }
    &.mc-handle-resize-top {
      top: calc(-1 * var(--mc-handle-size-half));
      left: calc(50% - var(--mc-handle-size-half));
      cursor: ns-resize;
    }
    &.mc-handle-resize-bottom {
      bottom: calc(-1 * var(--mc-handle-size-half));
      left: calc(50% - var(--mc-handle-size-half));
      cursor: ns-resize;
    }
    &.mc-handle-resize-left {
      top: calc(50% - 5px);
      left: calc(-1 * var(--mc-handle-size-half));
      cursor: ew-resize;
    }
    &.mc-handle-resize-right {
      top: calc(50% - var(--mc-handle-size-half));
      right: calc(-1 * var(--mc-handle-size-half));
      cursor: ew-resize;
    }
    &.mc-handle-drag {
      top: calc(50% - var(--mc-handle-size-half));
      left: calc(50% - var(--mc-handle-size-half));
      cursor: move;
    }
  }
  .mc-item-map {
    height: 100%;
    width: 100%;
    .mapboxgl-ctrl-logo {
      display: none;
    }
    .mx-scale-box {
      margin: 5px;
      .mx-scale-text {
        color: var(--mx_ui_text);
        border-color: var(--mx_ui_text);
      }
    }
  }
  .mc-flash {
    position: absolute;
    top: 0;
    pointer-events: none;
    width: inherit;
    .mc-flash-message {
      font-size: calc(0.2em / var(--mc-box-scale));
      opacity: 0;
      max-width: 100%;
      overflow: hidden;
      transition: opacity 0.3s ease-out, font-size 0.3s ease-out;
      &:after {
        content: "";
        padding: calc(5px / var(--mc-box-scale));
        color: var(--mc-color-contrast-light);
        content: attr(data-message);
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
      }
      &[data-level="message"]:after {
        background-color: var(--mc-color-contrast-dark);
      }
      &[data-level="warning"]:after {
        background-color: var(--mc-color-warning);
      }
      &[data-level="error"]:after {
        background-color: var(--mc-color-error);
      }
    }
  }
  .mc-flash.active {
    z-index: 2;
    .mc-flash-message {
      opacity: 1;
      font-size: calc(0.8em / var(--mc-box-scale));
    }
  }
  h1 {
    margin: unset;
  }
  h2 {
    margin: unset;
  }
  h3 {
    margin: unset;
  }
  h4 {
    margin: unset;
  }
  h5 {
    margin: unset;
  }
  .mx-legend-vt-rule-label {
    cursor: unset;
  }
  .mx-view-item-legend-rt {
    pointer-events: none;
  }
  .mx-view-item-legend-vt {
    pointer-events: none;
  }
  .mx-legend-box {
    max-height: unset;
    overflow-y: unset;
    overflow-x: unset;
    border-top: unset;
    border-bottom: unset;
    column-count: 1;
    .mx-legend-vt-rule {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
  .mc-box-bar-edit {
    .btn {
      * {
        pointer-events: none;
      }
    }
    position: relative;
    width: 50px;
    .mc-box-bar-edit-btn-group {
      margin: 5px;
      .btn {
        width: 45px;
      }
    }
  }
}
.mc.mc-mode-layout {
  .mc-workspace {
    > div {
      min-width: 5000px;
      min-height: 5000px;
    }
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAANJwAADScBQwZj3AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAmSURBVBiVY2TAAp49e/YfXYwJm0JsYAAVMmJzuJSUFCPtraa+QgDLYwfEbRLGHgAAAABJRU5ErkJggg==");
    background-size: 10px 10px;
    background-position: 0 0, 5px 0, 5px -5px, 0px 5px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--mc-color-contrast-medium);
    overflow: scroll;
    background-attachment: local;
  }
  .mc-page {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAANJwAADScBQwZj3AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAmSURBVBiVY2TAAp49e/YfXYwJm0JsYAAVMmJzuJSUFCPtraa+QgDLYwfEbRLGHgAAAABJRU5ErkJggg==");
    background-size: 10px 10px;
    background-position: 0 0, 5px 0, 5px -5px, 0px 5px;
    outline: 1px dashed #474747;
    background-color: var(--mc-color-contrast-light);
  }

  .mc-box {
    &:hover {
      > .mc-handle {
        display: flex;
      }
    }
  }
}
.mc.mc-mode-print {
  * {
    transition: none;
  }
  .mc-page {
    overflow: hidden;
    transform: none !important;
    box-shadow: none !important;
    .mc-item {
      box-shadow: none !important;
    }
  }
  .mc-workspace {
    &:after {
      height: 100%;
      top: 0;
      width: 100%;
      content: "";
      position: absolute;
    }
  }
  .mc-flash {
    display: none;
    z-index: -1;
    position: absolute;
    top: -10000;
    left: -1000;
  }
}
.mc.mc-mode-preview {
  .mc-page {
    overflow: hidden;
    transform: none !important;
    .mc-item {
      box-shadow: none !important;
    }
  }
  .mc-flash {
    display: none;
    z-index: -1;
    position: absolute;
    top: -10000;
    left: -1000;
  }
}
