.txt-filter--header {
  padding: 20px;
  position: sticky;
  top: 0;
  background: var(--mx_ui_background_transparent);
  backdrop-filter: blur(3px);
  border: 1px solid var(--mx_ui_border);
  border-radius: 10px;
  z-index: 1000;
}
.txt-filter--box {
  border-bottom: 1px solid var(--mx_ui_input_accent);
}
.txt-filter--content-flex {
  display: flex;
  flex-direction: column;
}

.txt-filter--content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}
