

.mc {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 5px;
}

.mc * {
  transform-origin: top left;
  touch-action: none;
  user-select: none;
}
.mc .mc-content {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.mc .mc-content > .mc-toolbar,
.mc .mc-content > .mc-workspace {
  position: relative;
}

.mc .mc-box.mc-toolbar {
  min-width: 250px;
  padding: 10px;
  margin-right: 20px;
  max-width : 250px;
}
.mc .mc-workspace {
  flex-grow: 1;
}
.mc.mc-mode-layout .mc-workspace > div {
  min-width: 5000px;
  min-height: 5000px;
}
.mc .mc-workspace,
.mc .mc-workspace-content {
  padding: 0px;
  height: 100%;
}

.mc .mc-workspace-content {
  width: 100%;
}

.mc .mc-page {
  transform-origin: top left;
  background: #fff;
  position: relative;
}

.mc.mc-mode-print .mc-page,
.mc.mc-mode-preview .mc-page {
  overflow: hidden;
  transform: none !important;
}

.mc.mc-mode-preview .mc-page {
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.4);
}
.mc.mc-mode-print .mc-workspace:after {
  height: 100%;
  top: 0;
  width: 100%;
  content: '';
  position: absolute;
}

.mc.mc-mode-layout .mc-page,
.mc.mc-mode-layout .mc-workspace {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAANJwAADScBQwZj3AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAmSURBVBiVY2TAAp49e/YfXYwJm0JsYAAVMmJzuJSUFCPtraa+QgDLYwfEbRLGHgAAAABJRU5ErkJggg==');
  background-size: 10px 10px;
  background-position: 0 0, 5px 0, 5px -5px, 0px 5px;
}

.mc.mc-mode-layout .mc-workspace {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ccc;
  overflow: scroll;
  background-attachment: local;
}

.mc.mc-mode-layout .mc-page {
  outline: 1px dashed #474747;
  background-color: #fff;
}

.mc .mc-item {
  position: absolute;
  z-index: 0;
}

.mc .mc-item {
  overflow: hidden;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.mc.mc-mode-layout .mc-item {
  background: #fff;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.4);
}

.mc .mc-box {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
}

.mc .mc-item .mc-item-text {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.mc .mc-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #474747;
  border-radius: 50%;
  opacity: 0.7;
  display: none;
  z-index: 1;
}
.mc .mc-handle:after {
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #ccc;
  content: '';
  border-radius: 50%;
  opacity: 0.2;
}

.mc.mc-mode-layout .mc-box:hover > .mc-handle {
  display: block;
}
.mc .mc-handle.mc-handle-remove {
  top: -5px;
  right: -5px;
  cursor: pointer;
}
.mc .mc-handle.mc-handle-remove:before {
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  position: absolute;
  content: '×';
}

.mc .mc-handle.mc-handle-resize-top {
  top: -5px;
  left: calc(50% - 5px);
  cursor: ns-resize;
}
.mc .mc-handle.mc-handle-resize-bottom {
  bottom: -5px;
  left: calc(50% - 5px);
  cursor: ns-resize;
}
.mc .mc-handle.mc-handle-resize-left {
  top: calc(50% - 5px);
  left: -5px;
  cursor: ew-resize;
}
.mc .mc-handle.mc-handle-resize-right {
  top: calc(50% - 5px);
  right: -5px;
  cursor: ew-resize;
}
.mc .mc-handle.mc-handle-drag {
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  cursor: move;
}
.mc .mc-item-map {
  height: 100%;
  width: 100%;
}
.mc .mc-item-map .mapboxgl-ctrl-attrib,
.mc .mc-item-map .mapboxgl-ctrl-logo {
  display: none;
}
.mc .mc-item-map .mapboxgl-ctrl-scale {
  max-height: 20px;
  border-radius: 0;
}

.mc .mc-flash {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.mc .mc-flash.active {
  z-index: 2;
}

.mc .mc-flash div {
  color: white;
  background-color: #474747;
  font-size: 5px;
  padding: 5px;
  opacity: 0;
  max-width: 100%;
  overflow: hidden;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mc .mc-flash.active div {
  opacity: 0.8;
  font-size: 12px;
}
.mc.mc-mode-print .mc-flash,
.mc.mc-mode-preview .mc-flash {
  display: none;
}

/**
* set default texts
*/
.mc h1,
.mc h2,
.mc h3,
.mc h4,
.mc h5 {
  margin: unset;
}

/** 
* Legends
*/
.mc .mx-legend-vt-rule-label {
  cursor: unset;
}

.mc .mx-view-item-legend-rt,
.mc .mx-view-item-legend-vt {
  pointer-events: none;
}

.mc .mx-legend-box {
  max-height: unset;
  overflow-y: unset;
  overflow-x: unset;
  border-top: unset;
  border-bottom: unset;
  -webkit-column-count: 1;
  column-count: 1;
  background: #fff !important;
}

.mc .mx-legend-box .mx-legend-vt-rule {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}


/**
* Text editor
*/
.mc .mc-box-bar-edit .btn * {
  pointer-events:none;
}

.mc .mc-box-bar-edit {
  position: relative;
  width:50px;
}

.mc .mc-box-bar-edit .mc-box-bar-edit-btn-group {
  margin:5px;
}
.mc .mc-box-bar-edit .mc-box-bar-edit-btn-group .btn {
  width: 45px;
}
