.pickolor {
  border: 1px solid #ccc;
  padding: 20px;
  padding-top:40px; /* +20px handle*/
  border-radius: 3px;
  overflow: auto;
  background-color: #efeded;
  -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.18);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.18);
}

.pickolor .handle {
  position: absolute;
  width: 100%;
  height: 20px;
  background: #474747;
  top: 0px;
  left: 0px;
  cursor:move;
}

.pickolor-tab {
  border: 1px solid #ccc;
  border-radius: 3px 3px 0px 0px;
  border-bottom: none;
  cursor : pointer;
  font-size: 0.8em;
  margin: 0px 5px 0px 0px;
  padding: 5px 5px 5px 5px;
  background-color:#d8d8d826;
}

.pickolor-tabs {
  display: none;
}
.pickolor-tabs .pickolor-tab-radio {
  display: none;
}

.pickolor-tabs .pickolor-tab-radio:checked + label{
  background-color: #d8d8d8;
}

.pickolor-tabs-content {
  border: 1px solid #ccc;
  border-radius: 0px 3px 3px 3px;
  background-color: #d8d8d8;
  border-top: none;
}

.pickolor-check-panel-options-label {
  padding: 5px;
}

.pickolor-options .pickolor-check-panel-options:checked ~ .pickolor-tabs {
  display:block;
} 

.pickolor-tabs #pickolor-tab-sliders-radio:checked ~ .pickolor-tabs-content #pickolor-tab-sliders-content {
  display: block;
}
.pickolor-tabs #pickolor-tab-load-save-radio:checked ~ .pickolor-tabs-content #pickolor-tab-load-save-content {
  display: block;
}
.pickolor-tabs #pickolor-tab-json-edit-radio:checked ~ .pickolor-tabs-content #pickolor-tab-json-edit-content {
  display: block;
}

.pickolor-tabs .pickolor-tab-content {
  display: none;
  background-color:#d8d8d8;
}

.pickolor .tabs {
  display: flex;
  justify-content: space-between;
}
.pickolor .slider-container input {
  font-size: 0.7em;
  width: 30px;
  color: #474747;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  padding: 5px;
  border-radius: 3px;
}
.pickolor .top-group-input {
  display: flex;
}
.pickolor .top-group-input .button,
.pickolor .pickolor-tab-content .button {
  margin: 2px;
  color: #fff;
  background-color: #474747;
  cursor: pointer;
  border-radius: 3px;
}

.pickolor .pickolor-tab-content .button {
  width : 100%;
}

.pickolor .color-input {
  font-size: 1.2em;
  width: auto;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  background-color: #474747;
  color: #fff;
  display: flex;
  border-radius: 3px;
  margin: 2px;
}

.pickolor-tab-palettes,
.pickolor-tab-json {
  padding:10px;  
}

.pickolor-tab-sliders {
  border-radius: 3px;
  max-height: 300px;
  overflow-y: auto;
}

.pickolor .slider-container {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
.pickolor .slider-container span {
  opacity:0.8;
}

.pickolor .slider-min-max-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.pickolor .slider {
  margin: 10px;
}

.pickolor .slider.toggle {
  width: 50px;
}

.pickolor .item {
  flex-basis: 0;
  flex-grow: 1;
}

.pickolor .item input {
  display: none;
}

.pickolor .item label {
  display: block;
  border-radius: 0%;
  height: 50px;
  background-color: #f00;
  border: 0px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.pickolor .items {
  padding: 10px;
  border-radius: 3px;
  background-color: #474747;
  display: flex;
  overflow: hidden;
  margin: 2px;
  max-height: 70px;
}

.pickolor .text-area-input-json {
  border-radius: 3px;
  background: #474747;
  color: #fff;
  /*width: calc(100% - 20px);*/
  width: 100%;
  resize: vertical;
  padding: 10px;
  min-height: 200px;
  font-family: monospace, monaco;
}
.pickolor .item input:checked ~ label,
.pickolor .item label:hover {
  margin-top: 5px;
  min-width: 5px;
}
