/**
 * Map-x specific ui
 *
 */
html,
body,
.full-page {
  height: 100%;
  width: 100%;
  background: #474747;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: fixed;
  -webkit-text-size-adjust: 100%;
}

/*
* If shiny is busy, do not use pointer event
*/
html.shiny-busy .mx-shiny-busy-panel {
  cursor: progress;
  z-index: 10000;
  pointer-events: auto;
}

.mx-shiny-busy-panel {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

/**
* RESET font size
*/

html,
body {
  font-size: 0.8em;
}

h1 {
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 0.889em;
}

h6 {
  font-size: 0.79em;
}

p {
  font-size: 1em;
}

span {
  font-size: 1em;
}

label {
  font-size: 1em;
}

blockquote {
  font-size: 1.1em;
}

details {
  padding: 10px;
}

details > summary {
  cursor: pointer;
  outline: none;
  display: list-item;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  /* solves resize when pre in modal, e.g. ogc/wms template */
  overflow: inherit;
}

img,
video,
picture {
  object-fit: contain;
}

/**
* Global content-visibility
* perf improvement
* see https://css-tricks.com/more-on-content-visibility/
* -> story steps 
* -> view ui list item 
* -> table rows
* NOTE: not yet ready. Bad UX on chrome windows. Visual
* scrollbar glitch. Uncomment to apply 
*/
/*
.mx-story-step,
.li-item,
tr {
  content-visibility: auto;
  contain-intrinsic-size: 1px 1vh;
}
*/

.mx-inline-progress-container {
  width: 100%;
  height: 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 3px;
  border: 1px solid rgba(53, 53, 53, 1);
}

.mx-inline-progress-bar {
  background-color: rgba(53, 53, 53, 1);
  width: 0%;
  height: 100%;
}

/**
* Disabled things : link, button, etc
*/
.mx-not-allowed {
  opacity: 0.5;
  cursor: not-allowed;
}

/**
* Generic pointer event handling
*/
.mx-pointer {
  cursor: pointer;
}

.mx-events-off,
.mx-events-off * {
  pointer-events: none !important;
}

.mx-events-on,
.mx-events-on * {
  pointer-events: auto !important;
}

.noselect * {
  user-select: none;
}

.nocursor {
  cursor: none;
}

.mx-hide-here {
  font-size: 0px !important;
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
  position: absolute !important;
  z-index: -1000;
}

.mx-text-ellipsis {
  text-decoration: none;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  height: 32px;
}

.mx-hide-if-empty:empty {
  display: none;
}

.mx-display-none *,
.mx-display-none {
  display: none !important;
}

.mx-visibility-hidden *,
.mx-visibility-hidden {
  visibility: hidden !important;
}

.mx-hide,
.mx-hide-immersive,
.mx-hide-filter {
  opacity: 0 !important;
  z-index: -1000 !important;
  width: 1px !important;
  height: 1px !important;
  position: absolute !important;
  top: -100000px !important;
  right: -100000px !important;
}

.mx-smooth-opacity {
  opacity: 1;
  will-change: opacity;
  transition: opacity ease-in-out 1s;
}

/**
* Filter + search
*/
.mx-views-filters {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/**
* filter bar
*/
.mx-bar-filter {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 640px), (max-height: 640px) {
  .mx-bar-filter {
    display: none;
  }
}

.mx-bar-filter .mx-btn-toggle-filter {
  border-radius: 15px;
  padding: 5px;
}

.mx-bar-filter .mx-btn-toggle-filter:focus {
  outline: none;
}
.mx-bar-filter .mx-btn-toggle-filter:focus > span {
  text-decoration: underline;
}

.mx-bar-filter .mx-btn-toggle-filter.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.mx-bar-filter .mx-btn-toggle-filter * {
  pointer-events: none;
}
.mx-bar-filter .mx-btn-toggle-filter-count {
  opacity: 0.6;
}
.mx-bar-filter .mx-btn-toggle-filter {
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.mx-bar-filter .mx-btn-toggle-filter.active {
  color: #fff;
  background: #333;
  position: relative;
}

.mx-bar-filter .mx-btn-toggle-filter.bottom_tick.active:after {
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  top: 100%;
  display: block;
  width: 0;
  height: 0;
  align-self: center;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #040404;
}

.mx-bar-filter > .mx-btn-sort:hover {
  background-color: var(--mx_ui_background_contrast);
}

.mx-bar-filter > .mx-btn-toggle-filter:hover,
.mx-bar-filter > .mx-btn-toggle-filter.active {
  background-color: var(--mx_ui_background_contrast);
}

.mx-bar-filter .mx-btn-toggle-filter.bottom_tick.active:after {
  border-top: 5px solid var(--mx_ui_background_contrast);
}

.mx-bar-filter > .mx-btn-toggle-filter:hover span,
.mx-bar-filter > .mx-btn-toggle-filter.active span {
  background-color: var(--mx_ui_background_contrast);
}
/**
* Search box
*/
.mx-views-filter-text-input {
  box-shadow: none;
  transition: none;
  padding: 4px;
  padding-left: 15px;
  flex-grow: 1;
  width: 100%;
  border: 1px solid var(--mx_ui_border);
  border-radius: 5px;
}
.mx-views-filter-text-input:after {
  content: "";
  padding: 20px;
  border-bottom: 1px solid var(--mx_ui_border);
}

.mx-views-filter-panel {
  display: flex;
  flex-direction: column;
  height: 200px;
  z-index: 100;
  padding: 10px;
  overflow: hidden;
  padding-top: 5px;
}

.mx-views-filter-container {
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
  border: 1px solid #ccc;
}

.mx-views-filter-switch {
  padding-top: 10px;
}

/**
* map 
*/
#map_main {
  width: 100%;
  height: 100%;
}

/**
* Tools
*/
.mx-tools-group {
  display: flex;
  flex-direction: column;
}

.mx-tools-group > .btn {
  margin: 3px;
  text-align: left;
}

/**
* Shiny input
 */
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
  max-width: 100%;
}

/**
* Shiny server
*/
/*#ss-connect-dialog,*/
#shiny-disconnected-overlay {
  display: none !important;
}

#ss-overlay {
  display: block;
  background-color: #fff;
  opacity: 0.2;
}

.mx #ss-connect-dialog {
  position: absolute;
  top: calc(50% - 50px);
  height: 100px;
  width: 300px;
  left: calc(50% - 150px);
  background: var(--mx_ui_background);
  color: var(--mx_map_text);
  padding: 30px;
  border-radius: 3px;
}
.mx #ss-connect-dialog label {
  color: var(--mx_map_text);
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  border-bottom: 2px;
  text-align: center;
}

.mx #ss-connect-dialog a,
.mx #ss-connect-dialog .ss-dialog-link {
  color: var(--mx_map_text);
  font-size: 1.2em;
  border-bottom: none;
  text-align: center;
}

.mx #ss-connect-dialog a:after {
  content: "\f021";
  font-family: "FontAwesome";
  padding: 3px;
}
/**
* mapbox gl popup and control
*/
.mx .mx-scale-box {
  width: 78.0685px;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.mapboxgl-popup {
  z-index: 101;
}
.mapboxgl-popup-content {
  padding: 20px;
}

.mx-popup-container {
  max-height: 300px;
  width: 400px;
}

.mx-popup-container .mx-popup-prop-group {
  padding: 5px;
}

.mapboxgl-ctrl {
  clear: both;
  pointer-events: auto;
  display: inline-block;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  float: none;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 5px 5px 0 0;
  float: right;
}
.mapboxgl-ctrl.mapboxgl-ctrl-scale,
.mapboxgl-ctrl.mx-north-arrow {
  border-radius: 3px;
  text-align: center;
}

.mapboxgl-ctrl-scale {
  height: 30px;
}

/**
* boostrap list-group 
*/

.list-group-item .list-group {
  padding-top: 20px;
}

.list-group-item > .badge {
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group .list-group-title-small {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
}

.list-group .list-group-title-big {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.list-group {
  word-wrap: break-word;
}

.list-group .list-group-item-member {
  font-weight: normal;
  margin: 2px;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  line-height: 2.2;
  font-size: 0.9em;
}

.list-group .list-light {
  list-style: none;
  padding-left: 4px;
}

/**
* map control
*/

.mx .mx-logo {
  width: 85px;
  height: 21px;
  margin: 0 0 -3px -3px;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mx .mapboxgl-ctrl-logo {
  opacity: 0.4;
}

/**
* Reset button style
*
*/
.mx-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/**
* View buttons / controls
*/
.mx-controls-ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.mx-controls-view {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.mx-controls-view:hover {
  opacity: 1;
}

.mx-controls-content {
  display: block;
  margin: auto;
  height: 25px;
  width: 25px;
}

/**
* Custom scrollbar
*/
.mx-scroll-styled {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}

/**
 * Title
 *
 */

.title-container {
  padding: 10px 0px 10px 0px;
}

/** 
 * Buttons
 *
 */
.btn-icon,
.label-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-icon > span {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-icon > span {
  margin-right: 5px;
}
.btn i,
.btn span,
.btn .btn-icon,
.btn .btn-icon-wrapper {
  pointer-events: none;
}
.btn-icon-wrapper {
  height: 100%;
  display: inline;
  position: relative;
  margin-left: 1px;
  margin-right: 1px;
}
.btn-circle {
  position: relative;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

button:disabled,
button[disabled],
.disabled,
.btn-circle.disabled,
.btn-circle:disabled,
.btn.disabled,
.btn.disabled-alt {
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
}

.btn.disabled-with-events,
.btn-circle.disabled-with-events {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-circle > i,
.btn-circle:hover > i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.btn-circle-medium {
  width: 40px;
  height: 40px;
  border: none;
}
.btn-circle-small {
  width: 25px;
  height: 25px;
  font-size: 0.9em;
  border: none; /* view controls*/
}

/*
 * Forms
 */
.mx .form-control,
.mx .shiny-input-container:not(.shiny-input-container-inline) {
  max-width: 100%;
  display: block;
  width: 100%;
  min-width: 50px;
}
.mx input[type="range"].form-control {
  padding: 0px;
}

.mx .mx-diff-item {
  background-color: var(--mx_ui_background_faded);
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 200px;
}

.mx .mx-logs,
.mx .form-control.mx-logs {
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #353535;
  padding: 5px;
  padding: 0px;
}

.mx .mx-logs ul {
  padding: 5px;
}

.mx .mx-logs .mx-log-item,
.mx .mx-logs .mx-log-item * {
  color: #a2a1a1;
  list-style: none;
  padding: 4px;
}

.mx .mx-logs .mx-log-item.mx-log-red,
.mx .mx-logs .mx-log-item.mx-log-red * {
  color: #f00;
}
.mx .mx-logs .mx-log-item.mx-log-green,
.mx .mx-logs .mx-log-item.mx-log-green * {
  color: #0f0;
  /*Links cab be log-green and have border-bottom, see mx_colors*/
  border-color: #0f0;
}
.mx .mx-logs .mx-log-item.mx-log-orange,
.mx .mx-logs .mx-log-item.mx-log-orange * {
  color: #ffa900;
}
.mx .mx-logs .mx-log-item.mx-log-blue,
.mx .mx-logs .mx-log-item.mx-log-blue * {
  color: #03a9f4;
}
.mx .mx-logs .mx-log-item.mx-log-white,
.mx .mx-logs .mx-log-item.mx-log-white * {
  color: #fff;
}
.mx .mx-logs .mx-log-item.mx-log-gray,
.mx .mx-logs .mx-log-item.mx-log-gray * {
  color: #a2a1a1;
}

/** 
* login panel
*/
.mx-login-info,
.mx-language-info {
  font-size: 0.9em;
  padding: 5px;
  margin-top: 12px;
}

/**
* Progress bar
*/

.loading-screen,
.loading-screen-background {
  top: 0px;
  width: 100%;
  bottom: 0px;
  display: block;
  position: absolute;
  z-index: 1000;
}

.loading-container {
  width: 50%;
  padding: 10px;
  top: 20%;
  margin-right: auto;
  margin-left: auto;
  background: white;
  border-radius: 3px;
}

.loading-item {
  padding: 5px;
  width: 99%;
}

.loading-bar-out {
  height: 5px;
  width: 100%;
  /*border:1px solid #0f0 !important;*/
}

.loading-bar-in {
  width: 0px;
  height: 100%;
}

.loading-bar-txt {
  font-size: 14px;
}

/**
* Group in click popup
*/

.mx-prop-group {
  margin-top: 20px;
}

.mx-prop-container {
  border-top: 1px solid var(--mx-ui-border);
}

.mx-prop-content {
  width: 100%;
  padding: 0;
  margin: 0;
}

.mx-prop-layer-title {
  text-transform: uppercase;
  font-weight: bold;
}

.mx-prop-title {
  width: 40%;
  float: left;
  letter-spacing: 1.4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mx-prop-toggles {
  width: 60%;
  float: right;
  padding-left: 20px;
  border-left: 1px solid var(--mx_ui_border);
}

.mx-prop-static {
  padding: 5px;
}

/**
* Generic animation
*/
.fa-transition-generic {
  transition: transform 0.3s ease-in-out;
}

/**
* Filter switch operator
*/
.filter-switch-operator {
  width: 100%;
  padding: 2px;
}

/**
* Text switch
*/

.check-toggle-group {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  max-height: 140px;
}

.check-toggle {
  display: flex;
  align-items: center;
}
.check-toggle input {
  margin: unset;
}

.check-toggle > * {
  cursor: pointer;
}
.check-toggle .check-toggle-label {
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  padding-left: 5px;
  font-weight: inherit;
  margin: 0px;
}

/**
* Switch to show or hide additional content.
* based on a checkbox.
* visualy use a caret sign to show state.
*/
.fold-container {
  margin: 0px;
}

.fold-container .fold-content {
  text-align: left;
  overflow-y: auto;
  transition:
    max-height ease-in-out 0.3s,
    opacity ease-in-out 0.3s;
}

.fold-container .fold-switch,
.fold-container .fold-label {
  cursor: pointer;
}

.fold-container .fold-switch.fold-caret {
  display: none;
  max-width: 0px;
  visibility: hidden;
  margin: 0px;
}

.fold-container .fold-label {
  padding: 10px;
  margin: 0px;
  font-weight: normal;
  font-size: 0.9em;
  letter-spacing: 1.2;
  display: inline;
}

.fold-container .fold-switch.fold-caret:not(checked) ~ .fold-label::after {
  transition: transform 0.1s ease-in-out;
  margin: 3px;
  margin-top: 8px;
  font-size: 0.95em;
  content: "\F054";
  font-family: "FontAwesome";
}

.fold-container .fold-switch:checked.fold-caret ~ .fold-label::after {
  transform: rotate(90deg);
}

.fold-container .fold-switch:not(checked) ~ .fold-content {
  opacity: 0;
  max-height: 0;
  font-size: 0;
}

.fold-container .fold-switch:checked ~ .fold-content {
  /*border-top: 1px solid #ccc;*/
  opacity: 1;
  max-height: 1000px;
  font-size: inherit;
}

/**
* Packery default
*/
.packery-drop-placeholder {
  padding: 4px;
  border: none;
  background: hsla(0, 0%, 0%, 0.1);
  margin-top: 5px;
  border-radius: 3px;
  transition: transform 0.2s;
}

/*
* bootstrap fixes
*/
.help-block {
  font-size: 0.8em;
}
code {
  color: var(--mx_ui_link);
  background-color: var(--mx_ui_background_faded);
}
.panel-footer {
  background-color: var(--mx_ui_background_contrast);
  border-top: 1px solid var(--mx_ui_border);
}
.text-muted,
.text-muted > * {
  font-size: 0.9em;
  text-align: justify;
  font-weight: normal;
  hyphens: auto;
  color: var(--mx_ui_text_faded);
  transition: color ease-in-out 100ms;
}
.text-muted:hover,
.text-muted:hover > * {
  color: var(--mx_ui_text);
}
.text-muted.space-around {
  margin: 0 5px 0 5px;
}

.alert.alert-success,
.alert.alert-info,
.alert.alert-warning,
.alert.alert-danger {
  background: none;
}
.alert.alert-success {
  border-color: var(--mx_ui_message_success);
}
.alert.alert-info {
  border-color: var(--mx_ui_message_info);
}
.alert.alert-warning {
  border-color: var(--mx_ui_message_warning);
}
.alert.alert-danger {
  border-color: var(--mx_ui_message_danger);
}

input[type="checkbox"] {
  cursor: pointer;
}
.checkbox label,
.radio label {
  display: flex;
  align-items: flex-start;
  min-height: 20px;
  padding-left: inherit;
  margin: 0;
}

.checkbox-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.radio-inline input[type="radio"],
.radio input[type="radio"] {
  position: inherit;
  margin: 4px;
}

/**
* EPSG epsg ; projection code select group list
*/
.epsgio-box {
  display: block;
  padding: 10px;
  margin: 5px;
}
.epsgio-box .epsgio-btn-choose {
  width: 100%;
  margin: 2px;
}

.mx-version {
  cursor: pointer;
  color: var(--mx_ui_link);
}

.mx-sticky-top-20 {
  position: sticky;
  top: 20px;
  z-index: 10;
}

.mx-flex-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mx-flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
