
.mx .ct-widget.ct-toolbox {
  background: #ffffff;
  border: 1px solid hsla(0,0%,100%,.5);
  padding: 0px;
  border-radius:3px;
  width: 120px;
  overflow: hidden;
}

.mx .ct-widget .ct-grip {
  background: #353535;
  border-radius:3px;
}

.mx .ce-element--type-image:after, .ce-element--type-image:before, .ce-element--type-video:after, .ce-element--type-video:before {
    padding: 10px;
}

.mx .ce-measure{
  width:1200px!important;
}
.mx .ct-widget.ct-ignition {
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  flex-direction: row;
  justify-content: flex-end;
  /*left: auto;*/
}

.mx .ct-widget .ct-ignition__button {
  margin:5px;
  position:initial!important;
  border-radius: 50%;
  content: '';
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  opacity: .9;
  text-align: center;
  font-family: icon;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-smoothing: antialiased;
  width: 48px;
}

.mx .mx-story-slide-front .ce-element {
  outline: 1px  solid #ff000000;
  transform : ease-in-out outline 1s;
}
.mx .mx-story-slide-front:hover .ce-element {
  outline: 1px  solid #ff0000e0;
  transform :  ease-in-out outline 1s;
}

.mx .ct-tool--blockquote::before {
  font-family: serif;
    content: '“';
    font-size: 2em;
}
.mx .ct-tool--h1::before {
    font-family: serif;
    content: 'H1';
}
.mx .ct-tool--h2::before {
    font-family: serif;
    content: 'H2';
}
.mx .ct-tool--h3::before {
    font-family: serif;
    content: 'H3';
}
.mx .ct-tool--h4::before {
    font-family: serif;
    content: 'H4';
}
.mx .ct-tool--h5::before {
    font-family: serif;
    content: 'H5';
}

.mx .ce-element--focused.ce-element--type-image,
.mx .ce-element--focused.ce-element--type-image-fixture,
.mx .ce-element--focused.ce-element--type-video,
.mx .ce-element--over.ce-element--type-image,
.mx .ce-element--over.ce-element--type-image-fixture,
.mx .ce-element--over.ce-element--type-video {
    background-color: #f000;
    outline: 4px solid rgba(243,156,18,.35);
}
