
/** 
* Set colors of mapx
*/

.mx * {   
  --mx_ui_text: hsl(0, 0%, 21%);
  --mx_ui_text_faded: hsla(0, 0%, 21%,0.5);
  --mx_ui_hidden: hsla(196, 98%, 50%,0);
  --mx_ui_border: hsl(0, 0%, 81%);
  --mx_ui_background: hsla(0, 0%, 97%, 0.95);
  --mx_ui_shadow: hsla(0, 0%, 60%, 0.3);
  --mx_ui_link : #12b0f8;
  border-color: var(--mx_ui_border);
  color: var(--mx_ui_text);
}


.mx  a:not(.mapboxgl-ctrl-logo):not(.mx-logo),
.mx  a:not(.mapboxgl-ctrl-logo):not(.mx-logo) * {
  color: var(--mx_ui_link);
  text-decoration: none;
}

.mx select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 

.mx .theme_colors label {
  color : var(--mx_ui_text); 
}

.mx .transparent{
  transition: background-color 0.3s ease-in 0s; 
  background-color: var(--mx_ui_background) ;
  border-color : var(--mx_ui_border);
}

.mx .shadow {
  -webkit-box-box-shadow : 1px 1px 4px 0px var(--mx_ui_shadow);
  -moz-box-shadow : 1px 1px 4px 0px var(--mx_ui_shadow);
  box-shadow : 1px 1px 4px 0px var(--mx_ui_shadow);
}

/*
* Badge and icons
*/

.mx-readers-grp i {
  color: var(--mx_ui_text_faded) ;
}
/**
* View list items content
*/
.mx-views-content,
.mx-tools-content {
  border-bottom: 1px solid var(--mx_ui_border);
  border-top: 1px solid var(--mx_ui_border);
}
.mx-view-item:after{
  border-bottom: 1px solid var(--mx_ui_border);
}
.mx-view-item-empty {
  color: var(--mx_ui_text_faded);
}


/*.mx-views-project-language-bar {*/
  /*border-bottom: 1px solid var(--mx_ui_border);*/
/*}*/
/*.mx-views-project-language-bar > span {*/
  /*border-right: 1px solid var(--mx_ui_border);*/
/*}*/
.mx-views-project-language-bar > * {
  border-color: var(--mx_ui_border);
}

.mx-views-project-language-bar > span:hover {
  background-color:var(--mx_ui_text);
  color:var(--mx_ui_background);
}

.mx .mx-view-item-desc {
  color: var(--mx_ui_text_text);
}

.mx-views-filter-text-input {
    background: var(--mx_ui_background);
}
.mx-views-filters-container .mx-check-toggle-filter-count {
 color : var(--mx_ui_text_faded);
}

.mx-views-filters-container .filter-tag-content {
  border-color:  var(--mx_ui_border);
}




.mx .jed-container div[data-schematype='object'] {
    border-radius: 0px;
    border-color : var(--mx_ui_border);
}

.jed-container .color-picker { 
    border-color : var(--mx_ui_border);
}

.mx .jed-container .jed-error {
  border-left: 1px solid red !important;
}

.mx .transparent:hover {
  background-color: var(--mx_ui_background);
}

.mx .opaque
{
  background-color: var(--mx_ui_background);
}
/*
* MapX general changes
* 
*/
.mx .mx-flex-content {
  border-top: 1px solid ;
  border-bottom: 1px solid;
}

.mx ::-webkit-input-placeholder {
   color: var(--mx_ui_border);
}

.mx :-moz-placeholder { /* Firefox 18- */
   color: var(--mx_ui_border);  
}

.mx ::-moz-placeholder {  /* Firefox 19+ */
   color: var(--mx_ui_border);  
}

.mx :-ms-input-placeholder {  
   color: var(--mx_ui_border);  
}

.mx .mx-modal-container,
.mx .selectize-dropdown,
/*.mx .mapboxgl-ctrl.mapboxgl-ctrl-scale,*/
/*.mx .mapboxgl-ctrl.mx-north-arrow, */
.mx .mapboxgl-popup-content
{
  border : 1px solid var(--mx_ui_border);
  background-color: var(--mx_ui_background);
  -webkit-box-shadow:  2px 2px 5px 0 var(--mx_ui_shadow);  
  -moz-box-shadow:  2px 2px 5px 0 var(--mx_ui_shadow);
  box-shadow :  2px 2px 5px 0 var(--mx_ui_shadow);
}

.mx .selectize-control .item .item-desc,
.mx-login-info p,
.mx .mx-view-tgl-more label,
.mx .list-group .list-group-title-small,
.text-muted {
 color: var(--mx_ui_text_faded);
}

.mx .selectize-control .item .item-desc:hover,
.mx-login-info p:hover,
.mx .mx-view-tgl-more label:hover,
.mx .list-group .list-group-title-small:hover,
.text-muted:hover {
 color: var(--mx_ui_text);
}

.mx .mx-modal-top ,
.mx .mx-modal-top * {
  color:var(--mx_ui_background);
}

.mx .mx-modal-top {
  background-color:var(--mx_ui_text);
  /*border-bottom: 1px solid var(--mx_ui_text);*/
}

/* Note : see also loading screen background*/
.mx .mx-modal-background {
  background-color:var(--mx_ui_shadow);
  opacity:0.3;
}

.mx .mx-modal-body {
    border-top: 1px solid var(--mx_ui_border);
    border-bottom: 1px solid var(--mx_ui_border);
}


.mx .mx-popup-container {
  border-bottom: 1px solid var(--mx_ui_border);
  border-top: 1px solid var(--mx_ui_border);
}


.mx .badge,
.mx .badge a
{
background-color: #F00;
color: #FFF;
}

span.mx-badge-role {
  border-color: var(--mx_ui_border);
}


/*.mx .mx-modal-top.mx-modal-drag-enable{*/
  /*background-color: var(--mx_ui_border);*/
/*}*/


.mx .input-group-addon {
  background-color: var(--mx_ui_border);
}

.mx .well,
.mx .form-control,
.mx .btn,
.mx .selectize-control.single .selectize-input,
.mx .selectize-control.single .selectize-input.input-active,
.mx .selectize-control.single .selectize-input .dropdown-active,
.mx .selectize-dropdown .create *
.mx .selectize-input,
.mx .selectize-control.multi .selectize-input > div,
.mx .list-group-item
{
  color: var(--mx_ui_text);
  border-color: var(--mx_ui_border);
  background-color: var(--mx_ui_background);
} 


.mx .selectize-control.multi .selectize-input > .active {
  color: var(--mx_ui_background);
  background-color: var(--mx_ui_text);
}
.mx .selectize-control.multi .selectize-input > div {
  border: 1px solid var(--mx_ui_border);
  padding: 3px;
}

.mx-bar-sort > .mx-btn-sort:hover {
  background-color:var(--mx_ui_text);
  color:var(--mx_ui_background);
}

.mx-bar-sort > * {
  color:var(--mx_ui_text_faded);
}


.mx-bar-sort > .mx-btn-toggle-filter {
  border-left: 1px solid var(--mx_ui_border);
}

.mx-bar-sort > .mx-btn-toggle-filter:hover * {
  color: var(--mx_ui_text);
}

.mx-bar-sort > .mx-btn-toggle-filter.active * {
  color:var(--mx_ui_background);
  background:var(--mx_ui_text);
}

.list-group .list-group-item-member {
  border: 1px solid var(--mx_ui_border);
}

.mx .jed-container .well {
  border : none;
  background-color: rgba(1,1,1,0);
}



.mx .form.group .form-control.selectize-control {
   border:none;
   background:none;
}

.mx .selectize-control.single .selectize-input:after,
.mx .selectize-control.single .selectize-input.dropdown-active:after,
.mx .selectize-dropdown.form-control{
  background-color: var(--mx_ui_background);
  border-color: var(--mx_ui_border);
}

.mx .selectize-dropdown [data-selectable].active ,
.mx .selectize-dropdown [data-selectable].active span {
  color:var(--mx_ui_background);
  background:var(--mx_ui_text);
}

.mx .selectize-dropdown .active,
.mx .selectize-dropdown .active p,
.mx .selectize-dropdown .active h3,
.mx .selectize-dropdown .active.create,
.mx .selectize-dropdown .active.create *,
.mx .btn-default:hover,
/*.mx .btn-default:hover div,*/
/*.mx .btn-default:hover span,*/
.mx .btn-default:hover > *,
.mx [class*=hint--]:after
{
  color: var(--mx_ui_background);
  background-color: var(--mx_ui_text);
  outline :0;
  text-shadow: none;
  box-shadow: 4px 4px 8px var(--mx-shadow); 
}

/*
* Mapbox gl css changes
*/
.mx .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_hidden);
    border-bottom-color: var(--mx_ui_text);
    border-left-color: var(--mx_ui_hidden);
    border-right-color: var(--mx_ui_hidden);
}
.mx .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_text);
    border-bottom-color: var(--mx_ui_hidden);
    border-left-color: var(--mx_ui_hidden);
    border-right-color: var(--mx_ui_hidden);
}
.mx .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_hidden);
    border-bottom-color: var(--mx_ui_hidden);
    border-left-color: var(--mx_ui_text);
    border-right-color: var(--mx_ui_hidden);
}
.mx .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_hidden);
    border-bottom-color: var(--mx_ui_hidden);
    border-left-color: var(--mx_ui_text);
    border-right-color: var(--mx_ui_hidden);
}


/*.mx .mx-controls-ul */
/*{*/
  /*border: none;*/
  /*background: none;*/
/*}*/

/*.mx .mx-controls li,*/
/*.mx .mx-controls ul */
/*{*/
  /*border: none;*/
/*}*/

.mx .btn-circle,
.mx .btn-circle:hover > div,
.mx .btn-circle:hover > div:before
{
    background-color: var(--mx_ui_background);
    color: var(--mx_ui_text);
}

.mx .btn-circle:hover, 
.mx .btn-circle:hover > div,
.mx .btn-circle:hover > div:before,
.mx .btn-circle.active,
.mx .btn-circle.active > div,
.mx .btn-circle.active > div:before
{
    background-color: var(--mx_ui_text);
    color: var(--mx_ui_background);
}

/**
* Progress bar
*/

.loading-screen {
}

.loading-container {
  background-color : var(--mx_ui_text);
  color: var(--mx_ui_background) ;
}

/* Note : see also modal background*/
.loading-screen-background {
  background-color : var(--mx_ui_text);
  opacity:0.1;
}
.loading-bar-out { 
  border:1px solid var(--mx_ui_background);
}

.loading-bar-in {
  background-color: var(--mx_ui_background) ;
}

.loading-bar-txt {
  color: var(--mx_ui_background) ;
}

/**
* Slider
*/
.mx .mx-slider-container .noUi-horizontal .noUi-handle {
  background-color: var(--mx_ui_background);
  border: 1px solid var(--mx_ui_border);
  outline:none;
}

.mx .mx-slider-container .noUi-target {
  border :1px solid var(--mx_ui_border);
}

.mx .mx-slider-container .noUi-connect {
    background: var(--mx_ui_border);
}

.mx .mx-slider-container .noUi-horizontal .noUi-tooltip {
    color: var(--mx_ui_text);
}

.mx-story-step-bullet,
.mx-story-btn-legend {
  background: var(--mx_ui_background);
  color: var(--mx_ui_text);
}

.mx .mx-story-step-bullet.mx-story-step-active ,
.mx .mx-story-step-bullet:hover,
.mx .mx-story-btn-legend.active {
  background: var(--mx_ui_text);
  color:var(--mx_ui_background);
}

.mx .mx-story-legend {
  background: var(--mx_ui_background);
}

/**
* controls
*/

.mx .mx-scale-text,
.mx .mapboxgl-ctrl-attrib *
{
text-align:center;
color:var(--mx_ui_text);
}

.mx .mx-scale-box {
  width: 78.0685px;
  border-bottom: 1px solid var(--mx_ui_text);
  border-left: 1px solid var(--mx_ui_text);
  border-right: 1px solid var(--mx_ui_text);
}

/**
 * View toggle button
 */

.mx .mx-view-tgl-btn  .mx-view-tgl-btn-in {
  fill: var(--mx_ui_background);
}

.mx-view-item-vt .mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(97, 100%, 64%, 1);
}
.mx-view-item-gj .mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 64%, 1);
}
.mx-view-item-sm .mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(216, 100%, 64%, 1);
}
.mx-view-item-rt .mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(307, 100%, 64%, 1);
}
.mx-view-item-cu .mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 64%, 1);
}
.mx-view-item-vt .mx-view-tgl-input:not(checked) ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(97, 100%, 28%, 1);
}
.mx-view-item-sm .mx-view-tgl-input:not(checked) ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(216, 100%, 28%, 1);
}
.mx-view-item-rt .mx-view-tgl-input:not(checked) ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(307, 100%, 28%, 1);
}
.mx-view-item-cu .mx-view-tgl-input:not(checked) ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 28%, 1);
}
.mx-view-item-gj .mx-view-tgl-input:not(checked) ~ .mx-view-tgl-content .mx-view-tgl-btn .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 28%, 1);
}

.mx-view-item {
  background-color:var(--mx_ui_background);
}

/**
* Boostrap fixes
*/
.mx pre{
  color: var(--mx_ui_text);
  background-color: inherit;
  border: 1px solid var(--mx_ui_text);
}
