/**
 *
 * JED FIXES
 *
 */

.jed-container .jed-error {
  margin-left: 1px;
  border-left: 1px solid red !important;
}

.jed-container .table > tbody > tr > td,
.jed-container .table > tbody > tr > th,
.jed-container .table > tfoot > tr > td,
.jed-container .table > tfoot > tr > th,
.jed-container .table > thead > tr > td,
.jed-container .table > thead > tr > th {
  padding: 1px;
  border: 0px;
}

.jed-container .btn-group > .btn {
  border-radius: 5px !important;
}

.jed-container table .selectize-input {
  min-height: 34px;
  max-height: 34px;
}

.jed-container table .selectize-input .item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jed-container table .selectize-input.dropdown-active {
  min-width: 300px;
}

.jed-container td .btn-group {
  width: 60px !important;
}

.jed-container td .btn-group > .btn {
  width: 20px;
  padding: 4px;
  float: left;
}

.jed-container .table {
  border: 0px 1px 0px 1px;
}

.jed-container td input[type='color']:focus {
  min-width: 0px;
}

.jed-container .btn-group-wide {
  width: 100%;
}

.jed-container .well {
  padding: 10px 5px 10px 5px;
  border: none;
  box-shadow: none;
  background-color: rgba(1, 1, 1, 0);
}

.jed-container .btn.btn-default {
  border: none;
}
.jed-container .table {
  border: 0px;
}

.jed-container div[data-schematype='object'] {
  padding: 15px;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: var(--mx_ui_box_shadow);
}



/**
* Pickr modifier
*/
.jed-container .pickr {
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  height: 1px;
  width: 1px;
}
.jed-container .color-picker {
  border: 1px solid var(--mx_ui_border);
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.jed-container .color-picker > .color-picker-content {
  height: 22px;
}




