.mx-view-item-legend-vt,
.mx-view-item-legend-rt,
.mx-view-item-legend-cc {
}

.mx-legend-box {
  /*padding: 5px;*/
  border-top: 1px solid var(--mx_ui_border);
  border-bottom: 1px solid var(--mx_ui_border);
  width: 100%;
}
.mx-view-tgl-more-container .mx-legend-box {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.mx-view-legend-container {
  padding: 10px;
}

.mx-legend-vt-rule > .mx-legend-vt-td {
  width: 1px;
}

/**
* Legend for raster
*/
.mx-view-item-legend-rt {
  cursor: zoom-in;
}

.mx-view-item-legend-rt img {
  display: block;
}
.mx-view-legend-rt {
  width: 100%;
}
/**
* Legend for vector
*/
.mx-legend-vt-container {
  overflow: hidden;
}

.mx-legend-vt-title,
.mx-legend-rt-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.mx-legend-view-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.1em;
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mx-legend-vt-rules {
  padding: 10px;
  width:100%;
}

.mx-legend-vt-rule .mx-legend-vt-rule-input {
  display: none;
}

.mx-legend-vt-rule-color-wrapper {
  max-height: 25px;
  overflow: visible;
  display: flex;
  align-items: center;
  max-height:100%;
}

.mx-legend-vt-rule-color {
  height: 1.5em;
  width: 1.5em;
  background-color: #333;
  cursor: 'e-resize';
}

.mx-legend-vt-rule-content {
  padding: 0px;
  margin: 0px;
}

.mx-legend-vt-rule:hover {
  background: var(--mx_ui_background_contrast);
  border-radius:5px;
  z-index:1000;
}

.mx-legend-vt-rule
  .mx-legend-vt-rule-input:checked
  ~ .mx-legend-vt-rule-label
  .mx-legend-vt-rule-label-text {
  text-decoration: underline;
  font-weight: bold;
}

.mx-legend-vt-rule-label {
  cursor: pointer;
  width: 100%;
}
.mx-legend-vt-rule-label-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: normal;
}

/**
* Leged in button panel (static, story)
*/
.button-panel--item-content  .mx-view-legend-group {
  padding: 0 10px 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-y:hidden;
}
.button-panel--item-content  .mx-legend-box {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
