

.mx-view-item-legend input[type="checkbox"]
{
display:none;
}


.mx-view-item-legend input[type="checkbox"]:checked > label::before
{
  font-family: 'FontAwesome';
  content: '\f06a';
  padding: 5px;
}

.mx-view-item-legend-container
{
  break-inside: avoid-column;
  display: inline-block;
  width: 202px;
  margin-bottom:10px;
}

.mx-view-item-legend
{
  width: 100%;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 0px;
  background: rgba(0,0,0,0);
}

.mx-view-item-legend ul 
{
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-height: 800px;
  overflow: scroll;
}

.mx-view-item-legend li 
{
  padding-left:2px;
}

.mx-legend-item-container 
{
  height: 20px;
}

.mx-legend-item-color-container {
  float: left;
  cursor:pointer;
  position: relative;
  height:20px;
  width:20px;
}

.mx-legend-item-color {
  background-color: #000;
  background-image: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mx-legend-item-label {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: normal;
  padding-left: 5px;
  font-size: 0.7em;
}

.mx-legend-item-arrow {
  display:none;
}

input:checked ~ .mx-legend-item-arrow {
  display:inline;
  vertical-align: top;
}

