
.mx-view-legend {
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin-left: 20px;
}
.mx-legend-rules {
  overflow: auto;
  max-height: 170px;
}

.mx-legend-container {
  display: block;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.mx-legend>.mx-legend-input {
  display: none;
}

.mx-legend>.mx-legend-input:checked~.mx-legend-content:before {
  content: "=";
  margin: 0 3px 0 3px;
  font-size: 0.9em;
  font-weight: normal;
}
/*.mx-legend.mx-legend-numeric>.mx-legend-input:checked~.mx-legend-content:before {*/
  /*content: ">=";*/
/*}*/

.mx-legend-color {
  height: 20px;
  width: 20px;
  background-color: #333;
  flex-grow: 0;
  flex-shrink: 0;
}

.mx-legend-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.mx-legend-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: normal;
}

.mx-view-item-legend-raster {
    /*background: #f5f5f5;*/
    /*border-radius: 3px;*/
    /*padding: 8px;*/
}

.mx-view-item-legend-raster img {
  max-width: 100%;
  overflow:auto;
  cursor:pointer;
  cursor:zoom-in;
  padding:10px;
}
