.mx-view-item-legend-vt,
.mx-view-item-legend-rt,
.mx-view-item-legend-cc{
}


.mx-legend-box {
  max-height: 150px;
  overflow-y:auto;
  overflow-x:hidden;
  padding:5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/**
* Modifier for map composer mode
*/
.mc .mx-legend-box {
  max-height: unset;
  overflow-y: unset;
  overflow-x: unset;
}

/**
* Legend for raster
*/
.mx-view-item-legend-rt{
  cursor:zoom-in;
}

.mx-view-item-legend-rt img {
  display: block;
}

/**
* Legend for vector
*/
.mx-legend-vt-container {
}

.mx-legend-vt-title {
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  font-size: 0.9em;
}
.mx-legend-vt-rules {
  padding: 10px;
}

.mx-legend-vt-rule>.mx-legend-vt-rule-input {
  display: none;
}

.mx-legend-vt-rule>.mx-legend-vt-rule-input:checked~.mx-legend-vt-rule-content:before {
  content: "=";
  margin: 0 3px 0 3px;
  font-size: 0.9em;
  font-weight: normal;
}

.mx-legend-vt-rule-color {
  height: 20px;
  width: 20px;
  background-color: #333;
  flex-grow: 0;
  flex-shrink: 0;
}

.mx-legend-vt-rule-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.mx-legend-vt-rule-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: normal;
}

