/**
* Mapbox gl modifiers
*/
.mx .mapboxgl-popup-content {
  padding-top: 25px;
}
.mx .mapboxgl-popup {
  max-width: 440px !important;
  z-index: 2000;
  /**
  * see .mx-popup-container
  */
}

.mx a:not(.mapboxgl-ctrl-logo):not(.mx-logo),
.mx a:not(.mapboxgl-ctrl-logo):not(.mx-logo) * {
  color: var(--mx_ui_link);
  text-decoration: none;
}

.mx .mapboxgl-popup-tip {
  border-color: transparent;
}
.mx .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: var(--mx_ui_text);
}
.mx .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--mx_ui_text);
}
.mx .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-left-color: var(--mx_ui_text);
}
.mx .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--mx_ui_text);
}

.mx .mapboxgl-ctrl-top-right {
  display: flex;
  flex-direction: row-reverse;
}

.mx .mapboxgl-ctrl-group {
  background: none;
  box-shadow: none;
  border: none;
}

.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl button {
  background-image: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid var(--mx_ui_border);
  font-size: 15px;
}

.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl button{
  border: 1px solid var(--mx_ui_border);
  box-shadow: 1px 1px 4px 0px var(--mx_ui_shadow);
}
.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl button:not(:disabled) {
    color: var(--mx_ui_text);
    background-color: var(--mx_ui_background);
}
.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl button:not(:disabled):hover,
.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl button:not(:disabled).active {
  color: var(--mx_ui_background);
  background-color: var(--mx_ui_text);
}
.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl button:disabled {
    color: var(--mx_ui_text_faded);
    background-color: var(--mx_ui_background);
}
.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl button:disabled:hover {
  color: var(--mx_ui_text_faded);
  background-color: var(--mx_ui_background);
}

.mx .mapboxgl-ctrl-top-right .mapboxgl-ctrl-group .mapboxgl-ctrl {
  background: none;
}
.mx .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_uncombine:before {
  icon-font: url('../svg/uncombine.svg');
}
.mx .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_combine:before {
  icon-font: url('../svg/combine.svg');
}
.mx .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_point:before {
  icon-font: url('../svg/point.svg');
}
.mx .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_line:before {
  icon-font: url('../svg/line.svg');
}
.mx .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_polygon:before {
  icon-font: url('../svg/polygon.svg');
}
.mx .mapbox-gl-draw_ctrl-draw-btn.mapbox-gl-draw_trash:before {
  icon-font: url('../svg/trash.svg');
}
