/**
* Modal panel
*/

.mx-modal-title {
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  padding: 7px;
  height: 100%;
  width: 100%;
}
.mx-modal-info-text {
  display: inline-block;
}

.mx-modal-background {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  position: fixed;
}

.mx-modal-container {
  position: absolute;
  width: 550px;
  height: auto;
  max-height: calc(100% - 10px);
  max-width: 100%;
  min-width: 300px;
  min-height: 150px;
  border-radius: 3px;
  z-index: 1000;
  right: 0;
  left: 0;
  top: 5px;
  margin: auto;
  resize: both;
  overflow:auto; /* resize need auto: selectize dropdown need visible...*/
  display: flex;
  flex-direction: column;
}

.mx-modal-container.mx-modal-collapsed .mx-modal-foot,
.mx-modal-container.mx-modal-collapsed .mx-modal-body {
  display: none;
}

.mx-modal-container.mx-modal-collapsed {
  min-height: 45px!important;
  height:45px!important;
  overflow:visible;
}

.mx-modal-top {
  background: #ccc;
  display: flex;
  flex-direction: row;
}
.mx-modal-top-btn-control {
  cursor: pointer;
  padding: 2px;
}
.mx-modal-top,
.mx-modal-foot {
  width: 100%;
  height: 45px;
  padding: 5px;
  min-height: 45px;
}

.mx-modal-head {
}

.mx-modal-body {
  overflow: auto;
  flex: 1;
}

.mx-modal-content {
  height: 100%;
  padding: 20px;
}

.mx-modal-foot-text {
  float: right;
  margin: 5px;
}
.mx-modal-half-left {
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  width: 45% !important;
  min-width: 30% !important;
  margin: initial !important;
}
.mx-modal-half-left .mx-modal-body {
  height: 100vh !important;
}

.mx-modal-half-top {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  margin: initial !important;
  min-width: 100%;
}

.mx-modal-half-top .mx-modal-body {
  height: 30vh !important;
}

.mx-modal-body-hidden .mx-modal-body {
  height: 0vh !important;
}
