/**
* Fonts
*/
html,
body.mx {
  font-size: var(--mx_font_size_base);
}

/**
* Input
*/

.mx select {
  appearance: none;
  padding: 5px;
  background: var(--mx_ui_background);
}

.mx input {
  background: var(--mx_ui_background);
}

.mx .theme_colors label {
  color: var(--mx_ui_text);
}

.mx .transparent {
  transition: background-color 0.3s ease-in 0s;
  background-color: var(--mx_ui_background);
  border-color: var(--mx_ui_border);
}

.mx .shadow {
  box-shadow: 1px 1px 4px 0px var(--mx_ui_shadow);
}
.mx .shadow-inset {
  box-shadow: inset 1px 1px 4px 0px var(--mx_ui_shadow);
}
.mx .shadow-caster-inset:after {
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 1px 4px 0px var(--mx_ui_shadow);
  display: block;
  position: absolute;
  top: 0;
}
/*
* Badge and icons
*/

.mx-readers-grp i {
  color: var(--mx_ui_text_faded);
}
/**
* View list items content
*/
.mx-views-content,
.mx-tools-content {
  border-bottom: 1px solid var(--mx_ui_border);
  border-top: 1px solid var(--mx_ui_border);
}
.mx .mx-view-item:after {
  border-bottom: 1px solid var(--mx_ui_border);
}
.mx .mx-view-item-empty {
  color: var(--mx_ui_text_faded);
  background-color: inherit;
}

.mx-views-project-language-bar > * {
  border-color: var(--mx_ui_border);
}

.mx-views-project-language-bar > span:hover {
  background-color: var(--mx_ui_text);
  color: var(--mx_ui_background);
}

.mx .mx-view-item-desc {
  color: var(--mx_ui_text_text);
}

.mx-views-filter-text-input {
  background: var(--mx_ui_background);
}
.mx-views-filter-container {
  border: 1px solid var(--mx_ui_border);
}
.mx-views-filters-container .mx-check-toggle-filter-count {
  color: var(--mx_ui_text_faded);
}

.mx-views-filters-container .filter-tag-content {
  border-color: var(--mx_ui_border);
}

.mx .jed-container div[data-schematype='object'] {
  border-radius: 0px;
  border-color: var(--mx_ui_border);
}

.jed-container .color-picker {
  border-color: var(--mx_ui_border);
}

.mx .jed-container .jed-error {
  border-left: 1px solid red !important;
}

.mx .transparent:hover {
  background-color: var(--mx_ui_background);
}

.mx .opaque {
  background-color: var(--mx_ui_background);
}
/*
* MapX general changes
* 
*/
.mx .mx-flex-content {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.mx ::-webkit-input-placeholder {
  color: var(--mx_ui_border);
}

.mx :-moz-placeholder {
  /* Firefox 18- */
  color: var(--mx_ui_border);
}

.mx ::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--mx_ui_border);
}

.mx :-ms-input-placeholder {
  color: var(--mx_ui_border);
}

.mx .mx-modal-container,
.mx .selectize-dropdown,
.mx .mapboxgl-popup-content,
.mx .mapboxgl-ctrl-group {
  border: 1px solid var(--mx_ui_border);
  background-color: var(--mx_ui_background);
  box-shadow: 2px 2px 5px 0 var(--mx_ui_shadow);
}

.mx .selectize-control .item .item-desc,
.mx-login-info p,
.mx .list-group .list-group-title-small,
.text-muted,
.text-muted > div {
  transition: color 500ms ease-in-out;
  color: var(--mx_ui_text_faded);
}

.mx .selectize-control .item .item-desc:hover,
.mx-login-info p:hover,
.mx .mx-view-tgl-more label:hover,
.mx .list-group .list-group-title-small:hover,
.text-muted:hover,
.text-muted:hover > div {
  color: var(--mx_ui_text);
}

.mx .mx-modal-top,
.mx .mx-modal-top * {
  color: var(--mx_ui_background);
}

.mx .mx-modal-top {
  background-color: var(--mx_ui_text);
}

/* Note : see also loading screen background*/
.mx .mx-modal-background {
  background-color: var(--mx_ui_shadow);
}

.mx .mx-modal-body {
  border-top: 1px solid var(--mx_ui_border);
  border-bottom: 1px solid var(--mx_ui_border);
}

.mx .mx-popup-container {
  border-bottom: 1px solid var(--mx_ui_border);
  border-top: 1px solid var(--mx_ui_border);
}

span.mx-badge-role {
  border-color: var(--mx_ui_border);
}

.mx .input-group-addon {
  background-color: var(--mx_ui_border);
}

.mx .well,
.mx .form-control,
.mx .btn,
.mx .selectize-control.single .selectize-input,
.mx .selectize-control.single .selectize-input.input-active,
.mx .selectize-control.single .selectize-input .dropdown-active,
.mx .selectize-dropdown .create * .mx .selectize-input,
.mx .selectize-control.multi .selectize-input > div,
.mx .list-group-item {
  color: var(--mx_ui_text);
  border-color: var(--mx_ui_border);
  background-color: var(--mx_ui_background);
}

.mx .selectize-control.multi .selectize-input > .active {
  color: var(--mx_ui_background);
  background-color: var(--mx_ui_text);
}
.mx .selectize-control.multi .selectize-input > div {
  border: 1px solid var(--mx_ui_border);
  padding: 3px;
}

.mx-bar-sort > .mx-btn-sort:hover {
  background-color: var(--mx_ui_text);
  color: var(--mx_ui_background);
}

.mx-bar-sort > * {
  color: var(--mx_ui_text_faded);
}

.mx-bar-sort > .mx-btn-toggle-filter {
  border-left: 1px solid var(--mx_ui_border);
}

.mx-bar-sort > .mx-btn-toggle-filter:hover,
.mx-bar-sort > .mx-btn-toggle-filter.active {
  background: var(--mx_ui_text);
}

.mx-bar-sort .mx-btn-toggle-filter.bottom_tick.active:after {
  border-top: 5px solid var(--mx_ui_text);
}

.mx-bar-sort > .mx-btn-toggle-filter:hover span,
.mx-bar-sort > .mx-btn-toggle-filter.active span {
  color: var(--mx_ui_background);
}

.mx .mx-views-filter-switch .switch-handle {
  background: var(--mx_ui_text);
}

.list-group .list-group-item-member {
  border: 1px solid var(--mx_ui_border);
}

.mx .jed-container .well {
  border: none;
  background-color: rgba(1, 1, 1, 0);
}

.mx .form.group .form-control.selectize-control {
  border: none;
  background: none;
}

.mx .selectize-control.single .selectize-input:after,
.mx .selectize-control.single .selectize-input.dropdown-active:after,
.mx .selectize-dropdown.form-control {
  background-color: var(--mx_ui_background);
  border-color: var(--mx_ui_border);
}

.mx .selectize-dropdown [data-selectable].active,
.mx .selectize-dropdown [data-selectable].active span {
  color: var(--mx_ui_background);
  background: var(--mx_ui_text);
}

.mx .selectize-dropdown .active,
.mx .selectize-dropdown .active p,
.mx .selectize-dropdown .active h3,
.mx .selectize-dropdown .active.create,
.mx .selectize-dropdown .active.create *,
.mx .btn-default:hover,
/*.mx .btn-default:hover div,*/
/*.mx .btn-default:hover span,*/
.mx .btn-default:hover > *,
.mx [class*=hint--]:after {
  color: var(--mx_ui_background);
  background-color: var(--mx_ui_text);
  outline: 0;
  text-shadow: none;
  box-shadow: 4px 4px 8px var(--mx-shadow);
}

.mx .btn-circle,
.mx .btn-circle:hover > div,
.mx .btn-circle:hover > div:before {
  background-color: var(--mx_ui_background);
  color: var(--mx_ui_text);
}

.mx .btn-circle:hover,
.mx .btn-circle:hover > div,
.mx .btn-circle:hover > div:before,
.mx .btn-circle.active,
.mx .btn-circle.active > div,
.mx .btn-circle.active > div:before {
  background-color: var(--mx_ui_text);
  color: var(--mx_ui_background);
}

/**
* Progress bar
*/

.mx .loading-container {
  background-color: var(--mx_ui_text);
  color: var(--mx_ui_background);
}

/* Note : see also modal background*/
.mx .loading-screen-background {
  background-color: var(--mx_ui_text);
  opacity: 0.1;
}
.mx .loading-screen .loading-bar-out {
  border: 1px solid var(--mx_ui_background);
}

.mx .loading-screen .loading-bar-in {
  background-color: var(--mx_ui_background);
}

.mx .loading-screen .loading-bar-txt {
  color: var(--mx_ui_background);
}

/**
* Slider
*/
.mx .mx-slider-container .noUi-horizontal .noUi-handle {
  background-color: var(--mx_ui_background);
  border: 1px solid var(--mx_ui_border);
  outline: none;
}

.mx .mx-slider-container .noUi-target {
  border: 1px solid var(--mx_ui_border);
}

.mx .mx-slider-container .noUi-connect {
  background: var(--mx_ui_border);
}

.mx .mx-slider-container .noUi-horizontal .noUi-tooltip {
  color: var(--mx_ui_text);
}

.mx-story-step-bullet,
.mx-story-btn-legend {
  background: var(--mx_ui_background);
  color: var(--mx_ui_text);
}

.mx .mx-story-step-bullet.mx-story-step-active,
.mx .mx-story-step-bullet:hover,
.mx .mx-story-btn-legend.active {
  background: var(--mx_ui_text);
  color: var(--mx_ui_background);
}

.mx .mx-story-legend {
  background: var(--mx_ui_background);
}

/**
* controls
*/
.mx .mx-scale-text,
.mx .mapboxgl-ctrl-attrib * {
  text-align: center;
  color: var(--mx_ui_text);
}

.mx .mx-scale-box {
  width: 78.0685px;
  border-bottom: 1px solid var(--mx_ui_text);
  border-left: 1px solid var(--mx_ui_text);
  border-right: 1px solid var(--mx_ui_text);
}

/**
 * View toggle button
 */
.mx .mx-view-tgl-btn .mx-view-tgl-btn-in {
  fill: var(--mx_ui_background);
}

.mx-view-item-vt
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(97, 100%, 64%, 1);
}
.mx-view-item-gj
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 64%, 1);
}
.mx-view-item-sm
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(216, 100%, 64%, 1);
}
.mx-view-item-rt
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(307, 100%, 64%, 1);
}
.mx-view-item-cu
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 64%, 1);
}
.mx-view-item-vt
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(97, 100%, 28%, 1);
}
.mx-view-item-sm
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(216, 100%, 28%, 1);
}
.mx-view-item-rt
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(307, 100%, 28%, 1);
}
.mx-view-item-cu
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 28%, 1);
}
.mx-view-item-gj
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn
  .mx-view-tgl-btn-out {
  fill: hsla(30, 100%, 28%, 1);
}

.mx-view-item {
  background-color: var(--mx_ui_background);
}

/**
* Boostrap fixes
*/
.mx pre {
  color: var(--mx_ui_text);
  background-color: inherit;
  border: 1px solid var(--mx_ui_text);
}

/**
* Nested list
*/

.mx .li-group {
  border-left: 3px solid var(--mx_ui_border);
}

.mx .li-context-menu {
  box-shadow: 0px 0px 14px 0px var(--mx_ui_shadow);
  background: var(--mx_ui_background);
}

.mx .li-context-menu-target-focus {
  box-shadow: 0px 0px 14px 0px var(--mx_ui_shadow);
}
.mx .li-context-menu-group > * {
  border-bottom: 1px solid var(--mx_ui_border);
  padding-bottom: 2px;
}
.mx .li-context-menu-header {
  background: var(--mx_ui_background);
}
.mx .li-context-menu-button {
  background: var(--mx_ui_background);
}
.mx .li-context-menu-button:hover {
  transform: scale(1.05);
  background: var(--mx_ui_background);
}

.mx .li-context-menu-input {
  border: 1px solid var(--mx_ui_border);
  background: var(--mx_ui_background);
}
/**
* Map composer
*/
.mx .mc .mc-item,
.mx .mc .mc-page,
.mx .mc.mc-mode-layout .mc-item,
.mx .mc .mx-legend-box {
  background: var(--mx_ui_background);
}

/**
* Button Panel
*/
.mx .button-panel-btn {
  color: var(--mx_ui_text);
  background: var(--mx_ui_background);
}

.mx .button-panel-btn:hover {
  background: var(--mx_ui_text);
}

.mx .button-panel-btn:hover .button-panel-btn-icon {
  color: var(--mx_ui_background);
}
.mx .button-panel {
  background: var(--mx_ui_background);
  border: 1px solid var(--mx_ui_border);
}

/**
* Scrollbar
*/
::-webkit-scrollbar-thumb {
  background: var(--mx_ui_border);
}
::-webkit-scrollbar-thumb:active {
  background: var(--mx_ui_text);
}

/**
* Boostrap colors changes
*/
.mx .table > tbody > tr > td,
.mx .table > tbody > tr > th,
.mx .table > tfoot > tr > td,
.mx .table > tfoot > tr > th,
.mx .table > thead > tr > td,
.mx .table > thead > tr > th {
  border-color: var(--mx_ui_border);
}

.mx .panel-default > .panel-heading {
  color: var(--mx_ui_background);
  background-color: var(--mx_ui_text);
  border-color: var(--mx_ui_border);
}

.mx .panel-default > .panel-heading span {
  color: var(--mx_ui_background);
}
.mx .panel {
  background-color: var(--mx_ui_background);
}

/**
* Dashboard rules
*/
.mx .dashboard {
  line-height: 1.4em;
  font-size: var(--mx_font_size_base);
}
