/**
* MapLibre GL modifiers
*/
.mx .maplibregl-popup-content {
  padding-top: 25px;
}
.mx .maplibregl-popup:hover {
  opacity: 1;
}
.mx .maplibregl-popup {
  max-width: 440px !important;
  z-index: 2000;
  opacity: 0.7;
  transition: opacity ease-in-out 400ms;
  /**
  * see .mx-popup-container
  */
}

.mx a:not(.maplibregl-ctrl-logo):not(.mx-logo),
.mx a:not(.maplibregl-ctrl-logo):not(.mx-logo) * {
  color: var(--mx_ui_link);
  text-decoration: none;
}

.mx .mx-scale-text,
.mx .maplibregl-ctrl-attrib * {
  text-align: center;
  color: var(--mx_ui_text);
}
.mx .maplibregl-control-container .maplibregl-ctrl-attrib a {
  color: var(--mx_ui_text);
  opacity: 0.68;
}
.mx .maplibregl-control-container .maplibregl-ctrl-attrib a:hover {
  color: var(--mx_ui_link);
  opacity: 1;
}
.mx .maplibregl-ctrl-bottom-left {
  left: 50px;
}

.mx .maplibregl-ctrl.maplibregl-ctrl-attrib {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 3px;
}

@media (max-width: 640px) {
  .mx .maplibregl-ctrl.maplibregl-ctrl-attrib {
    width: 100vw;
    margin: 0px;
    border-radius: 0px;
    text-align: center;
  }

  .mx .maplibregl-ctrl-bottom-left {
    display: none;
  }
}

.mx .mx-scale-box {
  width: 78.0685px;
  border-bottom: 1px solid var(--mx_ui_text);
  border-left: 1px solid var(--mx_ui_text);
  border-right: 1px solid var(--mx_ui_text);
}

.mx .maplibregl-popup-tip {
  border-color: transparent;
}
.mx .maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: var(--mx_ui_text);
}
.mx .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  border-top-color: var(--mx_ui_text);
}
.mx .maplibregl-popup-anchor-left .maplibregl-popup-tip {
  border-left-color: var(--mx_ui_text);
}
.mx .maplibregl-popup-anchor-right .maplibregl-popup-tip {
  border-left-color: var(--mx_ui_text);
}
