/**
* Modal panel
*/

.mx-modal-title {
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  padding: 7px;
  height: 100%;
  width: 100%;
}
.mx-modal-info-text {
  display: inline-block;
}

.mx-modal-container.mx-modal-background:before {
  content: '';
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(2px);
}

.mx-modal-container {
  position: absolute;
  width: 550px;
  height: auto;
  max-height: calc(100% - 30px);
  max-width: 100%;
  min-width: 300px;
  min-height: 150px;
  border-radius: 10px;
  z-index: 2000;
  right: 0;
  left: 0;
  top: 5px;
  margin: auto;
  resize: both;
  overflow-y: auto; /* resize need auto: selectize dropdown need visible...*/
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px), (max-height: 640px) {
  .mx-modal-container {
    top: 0px !important;
    left: 0px !important;
    height: 100% !important;
    width: 100vw !important;
    border-radius: 0px !important;
    border: none !important;
    max-height: 100%;
  }
  .mx-modal-top-btn-control {
    display: none;
  }
  .mx-modal-foot-text {
    display: none;
  }
}

.mx-modal-container.mx-modal-collapsed .mx-modal-foot,
.mx-modal-container.mx-modal-collapsed .mx-modal-body {
  display: none;
}

.mx-modal-container.mx-modal-collapsed {
  min-height: 45px !important;
  height: 45px !important;
  overflow: hidden;
}

.mx-modal-top {
  background: #ccc;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.1em;
}
.mx-modal-top-btn-control {
  cursor: pointer;
  padding: 2px;
}
.mx-modal-foot-btns {
  display: flex;
}
.mx-modal-btn-float-right {
  margin-left: auto !important;
}
.mx-modal-top,
.mx-modal-foot {
  width: 100%;
  height: 45px;
  padding: 5px;
  min-height: 45px;
  display: flex;
  justify-content: space-between;
}

.mx-modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.mx-modal-content {
  height: 100%;
  padding: 20px;
}

@media screen and (max-width: 640px), (max-height: 640px) {
  .mx-modal-content {
    padding: 10px;
  }
}
.mx-modal-foot-text {
  margin: 5px;
}

.mx-modal-half-left {
  position: fixed;
  top: 0px !important;
  left: 0px !important;
  width: 45% !important;
  min-width: 30% !important;
  margin: initial !important;
}
.mx-modal-half-left .mx-modal-body {
  height: 100vh !important;
}

.mx-modal-half-top {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  margin: initial !important;
  min-width: 100%;
}

.mx-modal-half-top .mx-modal-body {
  height: 30vh !important;
}

.mx-modal-body-hidden .mx-modal-body {
  height: 0vh !important;
}
