/* project list by user */
.mx-badge-role,
.mx-badge-view-count {
  opacity: 0.5;
  font-size: 0.8em;
  padding: 0px 4px 0px 4px;
}

.mx-list-projects {
  max-height: 40vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.mx-list-projects-title {
  cursor: pointer;
}
.mx-list-projects-view-count {
  opacity: 0.5;
  font-size: 0.9em;
  display: none;
}
.mx-list-projects-desc {
  font-style: italic;
  opacity: 0.5;
  font-size: 0.9em;
}
.mx-list-projects-row {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.mx-list-projects-row:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.mx-list-projects-row * {
  pointer-events: none;
}

.mx-list-projects-row a {
  pointer-events: auto;
}

.mx-list-projects-row:hover {
  background: var(--mx_ui_background_contrast);
}

.mx-list-projects-top,
.mx-list-projects-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mx-list-projects-opt {
  padding-top: 9px;
  margin-left: 30px;
}

.mx-list-projects-left,
.mx-list-projects-right {
  flex: 1;
}

.mx-list-projects-container {
  overflow: hidden;
  border: 1px solid var(--mx_ui_border);
  border-radius: 3px;
}
.mx-list-projects.mx-list-empty:after {
  content: "[ No project found ]";
  min-height: 60px;
  color: var(--mx_ui_text_faded);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mx-list-projects-search {
  padding: 10px 10px 10px 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--mx_ui_border);
  margin-bottom: 5px;
  outline: none;
}
.mx-list-projects-search:focus {
  /*border-bottom: 2px solid #ccc;*/
}
