.tiles-report-container {
  overflow-x: auto;
}

.tiles-report-tools {
  width: 42px;
  white-space: nowrap;
}

.tiles-report-edit {
  margin: 0;
}

.tiles-report-status {
  white-space: nowrap;
}

.tiles-report-status .fa {
  margin-right: 3px;
}

.tiles-url-editor-result {
  margin: 0;
}
