/**
 * Scrollbar
 *
 */

.mx .selectize-dropdown {
  z-index:1000;
}

/* remove minus bar in input*/
.mx .selectize-control.single .selectize-input:after {
    /*display: none;*/
}

/* when multiple items are selected, adapt the height. Default : 34 px */
.mx .form-control .selectize-input {
  height:auto;
}


.mx .form-control .selectize-input input {
  min-width:50%;
}

.mx .form-control .selectize-input.items > .item {
  width:95%;
  display:inline-block;
}

.mx .selectize-control.single .selectize-input:after {
  content: "\F0D7";
  font-family: fontawesome;
  display: block;
  float: right;
  position: inherit;
  margin: 0px;
  padding: 0px;
  border: none;
  right: 5px;
  top: auto;
  left: auto;
  bottom: auto;
}
.selectize-dropdown {
  position: unset;
}
.selectize-control.multi .selectize-input.has-items {
  height:auto
}
