/**
* Screen mode for body size
*/

.mx-wrapper {
}

.mx-story-screen {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  tranform-origin: center center;
}

.mx-story-screen-240p {
  height: 240px;
  width: 426px;
}
.mx-story-screen-360p {
  height: 360px;
  width: 640px;
}
.mx-story-screen-480p {
  height: 480px;
  width: 854px;
}
.mx-story-screen-720p {
  height: 720px;
  width: 1280px;
}
.mx-story-screen-1080p {
  height: 1080px;
  width: 1920px;
}
.mx-story-screen-1440p {
  height: 1440px;
  width: 2560px;
}

.mx-story-layout {
  overflow: hidden;
  top: 50%;
  left: 50%;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.mx-story {
  height: 100%;
  line-height: 1.4;
  font-size: 20px;
  overflow-y: scroll; /* has to be scroll, not auto */
}

.mx-story-step {
  position: relative;
  height: 100%;
  perspective: 1000px;
}

.mx-story-slide {
  backface-visibility: hidden;
  font-family: sans-serif;
  position: absolute;
  border-radius: 5px;
  max-height: 100%;
  height: 100%;
  width: 100%;
  will-change: transform;
}

.mx-story-slide-front,
.mx-story-slide-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.mx-story-slide-back {
  pointer-events: none;
  z-index: 0;
}

/**
* Apply the fg color to all slide children (p,span, etc);
*/
.mx-story-slide-front:not(img) * {
  color: inherit !important;
  border-color: inherit !important;
}

.mx-story-slide-front {
  padding: 5%;
  position: relative;
  z-index: 1;
}

.mx-story-slide-front * {
  position: relative;
}

.mx-story-slide img {
  max-width: 100%;
}

.mx-story-slide {
  overflow: hidden;
}

.image-cover,
.mx-image-cover,
.mx-image-cover.ce-element--type-image,
.mx-story-slide.mx-story-image-cover img,
.mx-story-slide.mx-story-image-cover .ce-element--type-image,
.mx-story-slide.mx-story-image-cover iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  zoom: 100% !important;
  min-height: 100% !important;
  min-width: 100% !important;
  object-fit: cover !important;
  z-index: -1;
  width: 100% !important;
  height: 100% !important;
  background-size: cover;
  background-position: center;
}

.mx-story-slide.mx-story-card.mx-story-cube-face {
  width: 170px;
  height: 170px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}

.mx-story-shadow {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}

.mx-story-slide.mx-story-card {
  overflow: auto;
  padding: 15px;
}

.mx-story-slide.mx-story-card h1 {
}

.mx-story-slide.mx-story-back {
  z-index: -1;
}
.mx-story-slide.mx-story-front {
  z-index: 10;
}
.mx-story-slide.mx-story-text-center {
  text-align: center;
}
.mx-story-slide.mx-story-titles-center h1,
.mx-story-slide.mx-story-titles-center h2,
.mx-story-slide.mx-story-titles-center h3,
.mx-story-slide.mx-story-titles-center h4,
.mx-story-slide.mx-story-titles-center h5 {
  text-align: center;
}

.mx-story-slide.mx-story-text-left {
  text-align: left;
}
.mx-story-slide.mx-story-text-right {
  text-align: right;
}
.mx-story-slide.mx-story-full {
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
}
.mx-story-slide.mx-story-half-bottom {
  bottom: 0px;
  height: 50%;
  margin-top: 50%;
}
.mx-story-slide.mx-story-half-top {
  bottom: 0px;
  height: 50%;
  top: 0px;
}
.mx-story-slide.mx-story-half-left {
  width: 50%;
  float: left;
}
.mx-story-slide.mx-story-half-right {
  width: 50%;
  right: 0px;
}
.mx-story-slide.mx-story-half-vertical-center {
  width: 50%;
  left: 25%;
  right: 25%;
}

.mx-story-slide.mx-story-half-horizontal-center {
  max-height: 50%;
  top: 33%;
}

.mx-story-step-bullets {
  width: 80%;
  position: fixed;
  bottom: 0;
  margin-top: 30px;
  z-index: 1000;
  pointer-events: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.mx-story-step-bullet{
  cursor: pointer;
  pointer-events:auto;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-family: sans, helvetica;
  font-size: 16px;
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px 5px #ccc;
  margin: 2px;
}


/**
 * simple reactive table
 * source : https://gist.github.com/AllThingsSmitty/cb32e5a377716bc8f147
 */
.mx-story table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.mx-story table tr {
  border: 1px solid #ddd;
  padding: 5px;
}
.mx-story table th,
.mx-story table td {
  padding: 10px;
  text-align: center;
}
.mx-story table th {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mx-story .width-100p {
  width: 100%;
}

/**
* Custom margin
*/
.mx-story .margin-top-10p {
  margin-top: 10%;
}
.mx-story .margin-bottom-10p {
  margin-bottom: 10%;
}
.mx-story .margin-left-10p {
  margin-left: 10%;
}
.mx-story .margin-right-10p {
  margin-right: 10%;
}
.mx-story .margin-top-5p {
  margin-top: 5%;
}
.mx-story .margin-bottom-5p {
  margin-bottom: 5%;
}
.mx-story .margin-left-5p {
  margin-left: 5%;
}
.mx-story .margin-right-5p {
  margin-right: 5%;
}

.mx-story::-webkit-scrollbar {
  display: none;
}

.mx-story::-webkit-scrollbar:hover {
  display: none;
}

.mx-story::-webkit-scrollbar-track {
  display: none;
}

.mx-story::-webkit-scrollbar-thumb {
  display: none;
}

/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
.mx-story-slide-front iframe,
.mx-story-slide-front image,
.mx-story-slide-front [data-ce-tag=img],
.mx-story-slide-front img,
.mx-story-slide-front video {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Left align */
.mx-story-slide-front .align-left {
  clear: initial;
  float: left;
  margin-right: 0.5em;
}

/* Right align */
.mx-story-slide-front .align-right {
  clear: initial;
  float: right;
  margin-left: 0.5em;
}

.mx-story-slide-front .absolute-top {
  position:absolute;
  top:0px;
}
.mx-story-slide-front .absolute-left {
  position:absolute;
  left:0px;
}
.mx-story-slide-front .absolute-right {
  position:absolute;
  right:0px;
}
.mx-story-slide-front .absolute-bottom {
  position:absolute;
  bottom:0px;
}
.mx-story-slide-front .absolute-50-top {
  position:absolute;
  top:50%;
}
.mx-story-slide-front .absolute-50-left {
  position:absolute;
  left:50%;
}
.mx-story-slide-front .absolute-50-right {
  position:absolute;
  right:50%;
}
.mx-story-slide-front .absolute-50-bottom {
  position:absolute;
  bottom:50%;
}
.mx-story-slide-front .block-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* Alignment styles for text in editable regions */
.mx-story-slide-front .text-center {
  text-align: center;
}

.mx-story-slide-front .text-left {
  text-align: left;
}

.mx-story-slide-front .text-right {
  text-align: right;
}



