/**

/**
 * Scrollbar
 *
 */

/* when multiple items are selected, adapt the height. Default : 34 px */
.mx .form-control .selectize-input {
  height: auto;
}

.mx .form-control .selectize-input.dropdown-active input {
  min-width: 50%;
}

.mx .selectize-dropdown {
  z-index: 10000 !important;
}

.mx .selectize-dropdown .create {
  padding: 10px;
}

/*'remove plugin' can't work with custom rederer : tweaks (e.g. mx_extend_jed_selectize)  + css tunning */
.mx .selectize-control.plugin-remove_button [data-value] .remove,
.mx .selectize-control [data-value] .remove * {
  color: var(--mx_ui_text);
}

.selectize-control.multi .selectize-input.has-items {
  height: auto;
}

.mx .selectize-control .item-label {
  font-size: 1em;
  margin: 5px;
}

.mx .selectize-control .item-desc {
  font-size: 0.9em;
  margin: 5px;
}
