.mx .table > tbody > tr > td,
.mx .table > tbody > tr > th,
.mx .table > tfoot > tr > td,
.mx .table > tfoot > tr > th,
.mx .table > thead > tr > td,
.mx .table > thead > tr > th {
  width: 1%;
  border-color: var(--mx_ui_border);
  border: 1px solid var(--mx_ui_border);
}

.mx .table > tbody > tr:nth-child(odd) {
  background-color: var(--mx_ui_background_accent);
}

.mx .mx-table-container {
  max-height: 300px;
  overflow: auto;
  box-shadow: var(--mx_ui_box_shadow_inset);
  border-radius: 5px;
  border: 1px solid var(--mx_ui_border);
}

.mx .mx-table-container tr:first-of-type {
  position: sticky;
  top: 0;
  background-color: var(--mx_ui_background);
  z-index: 1; 
}
