/**
 * Views container
 */
.mx-views-container,
.mx-tools-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mx-view-badges {
  opacity: 0.4;
  display: flex;
  filter: saturate(0.4);
  transition: opacity ease-in-out 0.3s, filter ease-in-out 0.3s;
}

/*@media (max-width: 800px), (max-height: 800px) {*/
/*.mx-view-badges {*/
/*display: none;*/
/*}*/
/*}*/

.mx-view-tgl-content:hover .mx-view-badges {
  opacity: 1;
  filter: none;
}

.mx-view-badges i {
  font-size: 10px;
  color: #ccc;
  margin: 3px;
}

.mx-views-content,
.mx-tools-content {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 0px;
}

.mx-tools-content {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.mx-views-list {
  border-top: 1px solid var(--mx_ui_border);
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  background: var(--mx_ui_background_faded);
}

.mx-views-list:empty:after {
  content: "0 views";
  text-align: center;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.mx-views-footer {
  min-height: 30px;
}

.mx-view-item,
.mx-view-item-empty {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 3;
  /*transition: background 0.2s ease-in-out;*/
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  max-width: calc(100% - 20px);
  box-shadow: var(--mx_ui_box_shadow);
  background: var(--mx_ui_background);
}

/*.mx-view-item:hover {*/
/*background-color: var(--mx_ui_background_contrast);*/
/*}*/

.mx-view-item-empty {
  text-align: center;
  padding: 50px;
  font-size: 1em;
}

/*.mx-view-item:after {*/
/*content: '';*/
/*margin-left: 20px;*/
/*margin-right: 20px;*/
/*border-bottom: 1px solid #ccc;*/
/*}*/

.mx-view-item.mx-filter-text,
.mx-view-item.mx-filter-class,
.mx-view-item.mx-filter-displayed {
  display: none !important;
}

@media (max-width: 800px) {
  .mx-view-item {
    margin: 1px;
  }
}

.mx-view-item-checkbox-label {
  padding: 10px;
  width: 100%;
}

.mx-view-item-checkbox {
  display: none;
}

.mx-view-item-desc-container {
  display: flex;
  margin-top: 20px;
}

.mx-view-item-desc {
  padding: 10px;
  font-size: 1em;
  padding: 10px;
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  border-top: 1px solid var(--mx_ui_border);
  border-bottom: 1px solid var(--mx_ui_border);
  overflow-wrap: break-word;
}

.mx-view-item-index,
.mx-view-item-classes {
  display: none;
}

.mx-view-tgl-container {
  position: relative;
  width: 350px;
  height: auto;
}

.mx-view-tgl-content {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 800px), (max-height: 800px) {
  .mx-view-tgl-content {
    padding: 4px;
  }
  .mx-view-item {
    max-width: 100%;
    border-radius: 3px;
  }
}

.mx-view-tgl-title {
  font-weight: 400;
  font-size: 1em;
  margin: 0 20px 0 20px;
  cursor: -webkit-grab;
  cursor: grab;
  flex-grow: 1;
}

.mx-view-tgl-input {
  display: none;
}

.mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  ~ .mx-view-tgl-more-container {
  opacity: 1;
  max-height: 1000px;
  font-size: inherit;
  transition: opacity ease-in-out 0.3s 0.3s;
}

.li-global-dragging .mx-view-tgl-more-container {
  display: none;
}

.li-global-dragging .li-group.li-dragged .li-item {
  display: none;
}

/*.mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-badges {*/
/*opacity: 0;*/
/*}*/

.mx-view-tgl-more-container {
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s 0.3s;
}

.mx-view-tgl-more {
  padding-left: 10px;
  padding-right: 10px;
}

.mx-view-tgl-more label {
  font-size: 0.9em;
}
.mx-view-tgl-more span {
  font-size: 0.8em;
}

.mx-view-content {
  column-width: 190px;
  column-count: auto;
  max-height: 230px;
  column-rule: 1px solid #ccc;
  column-gap: 0px;
  overflow: auto;
}

.mx-search-tool-wait {
  display: flex;
  justify-content: center;
  padding: 40px;
  cursor: wait;
}

.mx-search-tool-content {
  padding: 20px 20px;
  border: 1px solid var(--mx_ui_border);
  border-radius: 10px;
}
/**
 * View toggle button
 */
.mx-view-tgl-btn {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer !important;
  display: block;
  border-radius: 50%;
  border: 3px solid red;
  box-sizing: border-box;
  transition: border 100ms ease-in-out;
}
.mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-tgl-btn,
.mx-view-tgl-input ~ .mx-view-tgl-content .mx-view-tgl-btn:hover {
  border-width: 5px;
}

.mx-view-item-vt
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_vt);
}

.mx-view-item-vt
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_vt_checked);
}

.mx-view-item-rt
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_rt);
}

.mx-view-item-rt
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_rt_checked);
}

.mx-view-item-gj
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_gj);
}

.mx-view-item-gj
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_gj_checked);
}
.mx-view-item-sm
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_sm);
}

.mx-view-item-sm
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_sm_checked);
}
.mx-view-item-cc
  .mx-view-tgl-input:not(checked)
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_cc);
}

.mx-view-item-cc
  .mx-view-tgl-input:checked
  ~ .mx-view-tgl-content
  .mx-view-tgl-btn {
  border-color: var(--mx_ui_view_cc_checked);
}
