/** 
* Set colors of mapx
* This will be overwritten by css generated in themes/mapx_style_resolver.js
*/
* {
  /**
  * Colors
  */
  --mx_ui_text: hsla(0, 0%, 21%, 0.1);
  --mx_ui_text_faded: hsla(0, 0%, 21%, 0.1);
  --mx_ui_hidden: hsla(196, 98%, 50%, 0);
  --mx_ui_border: hsl(0, 0%, 81%, 0.1);
  --mx_ui_background: hsla(0, 0%, 97%, 0.1);
  --mx_ui_background_faded: hsla(0, 0%, 21%, 0.1);
  --mx_ui_background_contrast: hsla(0, 0%, 21%, 0.1);
  --mx_ui_background_accent: hsla(0, 0%, 21%, 0.1);
  --mx_ui_background_transparent: hsla(0, 0%, 21%, 0.1);
  --mx_ui_shadow: hsla(0, 0%, 60%, 0.1);
  --mx_ui_link: #12b0f8;
  --mx_ui_input_accent: #12b0f8;

  border-color: var(--mx_ui_border);
  color: var(--mx_ui_text);
  /**
  * font size
  */
  --mx_ui_font_size_base: 0.95em;

  /**
  * Media size ( @media var(...) does not work, keeping this
  * here as reference
  */
  --mx_media_small: 640px;
  --mx_media_medium: 800px;
  --mx_media_large: 1200px;

  /**
  * Shadow
  */
  --mx_ui_box_shadow: 0px 0px 14px 0px var(--mx_ui_shadow);

  /**
  * Views colors
  */
  --mx_ui_view_vt: hsla(118, 100%, 45%, 1);
  --mx_ui_view_vt_checked: hsla(118, 100%, 64%, 1);
  --mx_ui_view_rt: hsla(307, 84%, 41%, 1);
  --mx_ui_view_rt_checked: hsla(307, 84%, 50%, 1);
  --mx_ui_view_gj: hsla(30, 100%, 50%, 1);
  --mx_ui_view_gj_checked: hsla(30, 100%, 64%, 1);
  --mx_ui_view_sm: hsla(216, 42%, 45%, 1);
  --mx_ui_view_sm_checked: hsla(216, 42%, 65%, 1);
  --mx_ui_view_cc: hsla(348, 100%, 50%, 1);
  --mx_ui_view_cc_checked: hsla(348, 100%, 61%, 1);

  /**
  * Messages 
  */
  --mx_ui_message_success: #2ebf64;
  --mx_ui_message_info: var(--mx_ui_link);
  --mx_ui_message_warning: #f1d742;
  --mx_ui_message_danger: #f17642;

  /**
  * Types 
  */
  --mx_ui_type_string: #fff50059;
  --mx_ui_type_number: #00ffff59;
  --mx_ui_type_boolean: #95ff0059;
}
