/** 
* Set colors of mapx
* This could be overwritten by css generated in themes/index.js
*/
* {
  /**
  * Colors
  */
  --mx_ui_text: hsl(0, 0%, 21%);
  --mx_ui_text_faded: hsla(0, 0%, 21%, 0.5);
  --mx_ui_hidden: hsla(196, 98%, 50%, 0);
  --mx_ui_border: hsl(0, 0%, 81%);
  --mx_ui_background: hsla(0, 0%, 97%, 0.95);
  --mx_ui_shadow: hsla(0, 0%, 60%, 0.3);
  --mx_ui_link: #12b0f8;
  border-color: var(--mx_ui_border);
  color: var(--mx_ui_text);
  /**
  * font size
  */
  --mx_font_size_base: 14px;
}
