
# Ignore everything
**

# Don't ignore that
!/src/r
!/src/data
!/src/templates
!/src/glyphs/dist/sprites
!/www
!global.R
!server.R
!run.R
!start_mapx.sh
!package.json
!/settings


# But ignore this inside it
**/*~
**/*.log
**/.DS_Store
