
# Ignore everything
**

# Don't ignore that
!settings/**
!src/r/**
!src/data/**
!src/templates/**
!src/glyphs/dist/sprites/**
!www/**
!global.R
!server.R
!run.R
!start_mapx.sh
!package.json


# But ignore this inside it
**/*~
**/*.swp
**/*.log
**/.DS_Store
**/node_modules
**/_archives


# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]


