html,
body {
  font-family: helvetica;
  height:100%;
  width:100%;
}

.container {
  width: 100%;
  min-height: 80%;
  display: flex;
}

.pane-left {
  background: #eee;
  font-size: 0.8em;
  padding: 0 1em;
  max-width: 200px
}

.pane-right {
  flex-grow: 1;
}
