<table
  width="100%"
  height="100%"
  cellpadding="0"
  cellspacing="0"
  border="0"
  align="left"
  valign="top"
>
  <tbody>
    <tr>
      <td align="center" valign="top">
        <span
          style="font-family:sans-serif;font-size:14px;line-height:14px;color:#000;display:none;max-height:0;overflow:hidden"
        ></span>
        <table
          width="450"
          align="center"
          cellpadding="0"
          cellspacing="0"
          style="max-width:450px"
          border="0"
          valign="top"
        >
          <tbody>
            <tr>
              <td style="padding:40px 0 0 0"></td>
            </tr>
            <tr>
              <td align="center" style="padding:0 10px 20px 10px">
                <!-- begin logo mapx -->
                <img
                  alt=""
                  width="40"
                  style="display:block;outline:none;border:none;text-decoration:none;border-radius:40px"
                  src="https://rawcdn.githack.com/unep-grid/map-x-mgl/56c9f8ce9d1e619aad9171b1bb5df51e2afd9207/app/src/png/map-x-logo.png"
                />
              </td>
            </tr>
            <tr>
              <td align="center" style="padding:0 10px;line-height:24px">
                <span
                  style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:20px;font-weight:600;line-height:24px;color:#474747"
                  >{{title}}</span
                >
              </td>
            </tr>
            <tr>
              <td
                align="center"
                style="padding:5px 10px 0 10px;line-height:20px"
              >
                <span
                  style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#999"
                  >{{subtitle}}</span
                >
              </td>
            </tr>
            <tr>
              <td style="padding:10px 0 0 0"></td>
            </tr>
            <tr>
              <td style="padding:40px 10px 0 10px;line-height:24px">
                <div
                  style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;line-height:24px;color:#474747"
                >
                  {{content}}
                </div>
              </td>
            </tr>

            <tr>
              <td style="padding:50px 0 0 0"></td>
            </tr>
            <tr>
              <td style="border-top:1px solid #dddddd;padding:30px 0">
                <table
                  align="center"
                  cellspacing="5"
                  cellpadding="0"
                  border="0"
                  valign="top"
                >
                  <tbody>
                    <tr>
                      <td align="center">
                        <p
                          style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12px;line-height:12px;color:#999"
                        >
                          {{footer}}
                        </p>
                      </td>
                    </tr>
                    <tr></tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
