.btn-ctrl--group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 10px;
  gap: 5px;
  .btn-ctrl--item {
    display: flex;
    margin: 0px;
    &.locked {
      opacity: 0.5;
    }
  }
}


