html,
body {
  font-family: helvetica;
}

.container {
  width: 100%;
  min-height: 400px;
  display: flex;
}

.pane-left {
  background: #eee;
  font-size: 0.8em;
  padding: 0 1em;
  max-width: 200px;
  max-height: 500px;
  overflow:auto;
}

.pane-right {
  flex-grow: 1;
}

#actions ul {
  padding-left: 1em;
}

#actions .active {
  font-weight: bold;
}
