html,
body {
  font-family: helvetica;
}

.container {
  width: 100%;
  min-height: 500px;
  max-height: 800px;
  display: flex;
}

.pane-left {
  background: #eee;
  font-size: 0.8em;
  padding: 0 1em;
  width: 200px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}

#output {
  display: none;
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 1em 1.5em 1em;
}

#output .content {
  max-height: 120px;
  overflow: auto;
}

#output .content img {
  max-width: 100%;
}

#output .close {
  position: absolute;
  bottom: 1em;
}

.pane-right {
  flex-grow: 1;
}

#actions ul {
  padding-left: 1em;
}

#actions .active {
  font-weight: bold;
}
