/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
  clear: initial;
  float: left;
  margin-right: 0.5em;
}

/* Right align */
[data-editable] .align-right {
  clear: initial;
  float: right;
  margin-left: 0.5em;
}

[data-editable] .absolute-top {
  position:absolute;
  top:0px;
}
[data-editable] .absolute-left {
  position:absolute;
  left:0px;
}
[data-editable] .absolute-right {
  position:absolute;
  right:0px;
}
[data-editable] .absolute-bottom {
  position:absolute;
  bottom:0px;
}
[data-editable] .absolute-50-top {
  position:absolute;
  top:50%;
}
[data-editable] .absolute-50-left {
  position:absolute;
  left:50%;
}
[data-editable] .absolute-50-right {
  position:absolute;
  right:50%;
}
[data-editable] .absolute-50-bottom {
  position:absolute;
  bottom:50%;
}
[data-editable] .block-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
  text-align: center;
}

[data-editable] .text-left {
  text-align: left;
}

[data-editable] .text-right {
  text-align: right;
}


.mx .ct-widget.ct-toolbox {
  background: #ffffff;
  border: 1px solid hsla(0,0%,100%,.5);
  padding: 0px;
  border-radius:3px;
  width: 120px;
  overflow: hidden;
}

.mx .ct-widget .ct-grip {
  background: #353535;
  border-radius:3px;
}

.mx .ce-element--type-image:after, .ce-element--type-image:before, .ce-element--type-video:after, .ce-element--type-video:before {
    padding: 10px;
}

.mx .ce-measure{
  width:1200px!important;
}
.mx .ct-widget.ct-ignition {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5px;
  flex-direction: row;
  justify-content: end;
  left: auto;
}

.mx .ct-widget .ct-ignition__button {
  margin:5px;
  position:initial!important;
  border-radius: 50%;
  content: '';
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  opacity: .9;
  text-align: center;
  font-family: icon;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 48px;
}

