

/*.mx-panel-dashboards-shadow {*/

.mx-panel-dashboards {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left:0px;
  height: 0;
  opacity:0;
  -webkit-transition: height 0s 1.3s;
  transition: height 0s 1.3s, opacity 1s;
  background-color: rgba(255, 255, 255, 0.24);
}

.mx-panel-dashboards.enabled {
  opacity:1;
  height:50%;
  border-radius: 3px;
  -webkit-transition: height 0s;
  transition: height 0s, opacity 1s; 
}

.mx-panel-dashboards:after {
  content:'';
  position: absolute;
  bottom: 0px;
  right: 0px;
  left:0px;
  top:0px;
  z-index:10;
  border-radius: 3px;
  opacity:0;
  border: 10px solid var(--mx_ui_background);
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.mx-panel-dashboards.enabled::after {
  opacity:1;
  transition: opacity 1s;
}

.mx-panel-dashboards-scroll {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left:0px;
  top: 0px;
  overflow:auto;
  border-radius: 3px;
  margin-right: -100px;
  padding-right: 90px;
  padding-left: 5px;
  padding-top: 5px;
}

.mx-dashboard {
  width: 100%;
  overflow: hidden;
  border-radius:3px;
  padding:10px;
  margin:10px;
  background: hsla(0, 0%, 98%, 0.25);
}

.mx-panel-dashboards.enabled .mx-dashboard {
  /*opacity: 1;*/
  /*-webkit-transition: opacity 1s 1s;*/
  /*transition: opacity 1s 1s;*/
}



/* ---- grid ---- */

.grid {
  width:100%;
  width:auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  position: relative;
}

.grid-sizer{
  width:150px;
}

/**
* gutter size of 5,grid of 50 : Æ’ (n){return (n + ((n / 50) * 5)-5)}
*/

.grid-item.y50{
 height:50px;
}
.grid-item.y1 {
 height:160px;  
}
.grid-item.y2 {
 height:325px;  
}
.grid-item.y3 {
 height:490px; 
}
.grid-item.y3 {
 height:655px; 
}
.grid-item.x50{
 width:50px;
}
.grid-item.x1 {
  width:160px;
}
.grid-item.x2 {
  width:325px;
}
.grid-item.x3 {
  width:490px;
}
.grid-item.x4 {
  width:655px;
}

.grid-item--content {
  background:var(--mx_ui_background);
  color:white;
  border: none;
  border-radius:3px;
  width:100%;
  height:100%;
  padding:0px;
  overflow:hidden;
}

.widget {
  margin:5px;
}

.grid-item.is-dragging{
  z-index: 3;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  z-index: 2;
}
