/**
 * Views container
 */
.mx-views-container,
.mx-tools-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mx-views-header {
  /*flex: 1 0 auto;*/
  padding: 5px;
}

.mx-views-content,
.mx-tools-content {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  flex: 1 1 auto;
  /*overflow-y: auto;*/
  min-height: 0px;
  perspective:600px;
}

.mx-views-footer{
  /*flex: 1 0 auto;*/
  padding: 5px;
}

@media( max-width:800px){
  .mx-views-footer{
    display:none;
  }
}

.mx-views-list
{
  list-style: none;
  padding: 5px;
  margin:0px;
  height:100%;
}

.mx-view-item {
  overflow: hidden;
  position: relative;
  margin-top: 5px;
  border-radius: 3px;
  width: 100%;
  z-index: 3;
  padding: 15px 10px 15px 10px;
  transition: transform 0.2s ease-in-out;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color:#FFF;
}

.mx-view-item.is-dragging{
  z-index: 4;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  z-index: 2;
}

@media (max-width: 800px) {
  .mx-view-item {
    margin: 1px;
  }
}

.mx-view-item-checkbox-label {
  padding: 10px;
  width: 100%;
}

.mx-view-item-checkbox
{
  display:none;
}


.mx-view-item-desc-container
{
  margin: 5px;
}

.mx-view-item-desc {
  font-size: 12px;
  padding: 5px;
  margin: 0px;
  margin-top: 4px;
}

.mx-view-item-index,
.mx-view-item-classes
{
  visibility:hidden;
  width:0px;
  height:0px;
  font-size:0px;
}




.mx-view-tgl-container {
  position: relative;
  width: 350px;
  height: auto;
}

.mx-view-tgl-content {
  position: relative;
  width: 100%;
  z-index:0;
  margin: 0px;
}

.mx-view-tgl-title {
  font-weight: 600;
  font-size: 13px;
  /*text-transform: uppercase;*/
  letter-spacing: 1.2;
}

.mx-view-tgl-input {
  display: none;
}

.mx-view-tgl-input:checked ~ .mx-view-tgl-content ~ .mx-view-tgl-more-container {
  opacity:1;
  max-height:1000px;
  font-size:inherit;
  transition: max-height ease-in-out 0.3s 0s,opacity ease-in-out 0.3s 0.3s;
}

.mx-view-tgl-more-container {
  overflow:hidden;
  max-height:0px;
  opacity:0;
  transition: max-height ease-in-out 0.3s 0.3s,opacity ease-in-out 0.3s;
}

.mx-view-tgl-more {
}

.mx-view-tgl-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border: 1px solid black;
  z-index: 2;
  cursor: pointer;
  float:right;
}

.mx-view-tgl-btn {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: black;
  border-color: black;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.mx-view-tgl-input:checked ~ .mx-view-tgl-content .mx-view-tgl-btn {
  height:3px;
  width:3px;
}

.mx-view-tgl-btn-container:hover .mx-view-tgl-btn {
  height:5px;
  width:5px;
}


/*.mx-view-item-indicator {*/
  /*position: absolute;*/
  /*top: 15px;*/
  /*right: 10px;*/
  /*z-index:3;*/
/*}*/

/*.mx-view-item-options*/
/*{*/
  /*display:none;*/
  /*padding:3px;*/
  /*padding-left: 5px;*/
/*}*/

/*.mx-view-item-checkbox:checked ~ .mx-view-item-checkbox-label .mx-view-item-switch:before*/
/*{*/
  /*[>content:'\f111';<]*/
  /*content:'\f205';*/
/*}*/
/*.mx-view-item-checkbox:checked ~ .mx-view-item-options*/
/*{*/
  /*display:block;*/
/*}*/


