.black select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 
/* targeting ie 9 and 10*/
@media screen and (min-width:0{{ content }}) {
  select {
    background:none;
    padding: 5px;
  }
}

/** Black modifiers
*
*/

.black * {
  border-color : hsl(196, 98%, 20%);
  color: hsla(196,98%,50%,1);
}

.black .transparent{
  transition: background-color 0.3s ease-in 0s; 
  background-color: hsla(196,20%,10%,0.5);
  border-color : hsla(196,98%,50%,0.5);
}

.black .shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}



.black .transparent:hover {
  background-color: hsla(196,20%,10%,0.7);
}

.black .opaque
{
  /*transition: all 0.3s ease-in 0s; */
  background-color: hsla(196,20%,10%,0.9);
}
/*
* map-x general changes
* 
*/
.black .mx-flex-content {
  border-top: 1px solid ;
  border-bottom: 1px solid;
}

.black ::-webkit-input-placeholder {
   color: hsla(196,98%,30%,1);
}

.black :-moz-placeholder { /* Firefox 18- */
   color: hsla(196,98%,30%,1);  
}

.black ::-moz-placeholder {  /* Firefox 19+ */
   color: hsla(196,98%,30%,1);  
}

.black :-ms-input-placeholder {  
   color: hsla(196,98%,30%,1);  
}

.black .mx-modal-container,
.black .selectize-dropdown,
.black .mapboxgl-popup-content
{
border : 1px solid;
background-color: hsla(196,20%,10%,0.9);
-webkit-box-shadow: -2px 2px 38px -6px hsla(196,70%,30%,0.8);
-moz-box-shadow: -2px 2px 38px -6px hsla(196,70%,30%,0.8);
box-shadow: -2px 2px 38px -6px hsla(196,70%,30%,0.8);
}

.black .input-group-addon {
  background-color: hsla(196,30%,10%,0.9);
}


.black .well,
.black .form-control,
.black .btn,
.black .selectize-control.single .selectize-input,
.black .selectize-control.single .selectize-input.input-active,
.black .selectize-control.single .selectize-input .dropdown-active,
.black .selectize-input,
.black .selectize-control.multi .selectize-input > div,
.black .list-group-item
{
  color: hsla(196,98%,50%,1);
  border-radius: 0px;
  border-color: hsl(196, 98%, 20%);
  background-color: hsla(196,20%,10%,0);
  -webkit-box-shadow: none;
  box-shadow: none;
} 


.black .jed-container .well {
  border-left: 1px solid hsla(196,98%,20%,1);
}

/*.black .form-group .form-control,*/
/*{*/
    /*border: none;*/
    /*border-bottom: 1px solid hsla(196,98%,50%,1);*/
    /*background : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAJCAIAAAB8JNGzAAAAEklEQVQI12Ng3fOfiYGBAR8GADvKAdFeJvAhAAAAAElFTkSuQmCC') no-repeat left bottom;*/
/*}*/

.black .mx-modal-top {
  background-color:hsla(196,98%,50%,0.3);
}


.black .form-group .form-control
{
    border: none;
    border-top: 1px solid hsla(196,98%,50%,1);
    border-bottom: 1px solid hsla(196,98%,50%,1);
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAJCAIAAAB8JNGzAAAAEklEQVQI12Ng3fOfiYGBAR8GADvKAdFeJvAhAAAAAElFTkSuQmCC') no-repeat left bottom, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAJCAIAAAB8JNGzAAAAEklEQVQI12Ng3fOfiYGBAR8GADvKAdFeJvAhAAAAAElFTkSuQmCC') no-repeat right bottom,url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAJCAIAAAB8JNGzAAAAEklEQVQI12Ng3fOfiYGBAR8GADvKAdFeJvAhAAAAAElFTkSuQmCC') no-repeat right top, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAJCAIAAAB8JNGzAAAAEklEQVQI12Ng3fOfiYGBAR8GADvKAdFeJvAhAAAAAElFTkSuQmCC') no-repeat left top;
}


.black .form.group .form-control.selectize-control {
   border:none;
   background:none;
}

.black .selectize-control.single .selectize-input:after,
.black .selectize-control.single .selectize-input.dropdown-active:after,
.black .selectize-dropdown.form-control{
  background-color: hsla(196,20%,10%,0.9);
  border-color: hsla(196,98%,50%,1) transparent transparent transparent;
}

.black .btn-circle:hover,
.black .btn-circle:focus,
.black .btn-circle:hover i:before,
.black .btn-circle:focus i:before, 
.black .selectize-dropdown .active,
.black .selectize-dropdown [data-selectable] .highlight,
.black .btn:hover,
.black .btn:hover i
{
  color: hsla(196,20%,10%,0.9);
  background-color: hsla(196,98%,50%,1);
  outline :0;
}

.black [class*=hint--]:after
{
  color: hsla(196,98%,50%,1);
  background-color: hsla(196,20%,10%,0.9);
}

/*
 *
 */


/*
* Mapbox gl css changes
*/

.black .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: hsla(196,98%,50%,1);
    border-bottom-color: hsla(196,98%,50%,0);
    border-left-color: hsla(196,98%,50%,0);
    border-right-color: hsla(196,98%,50%,0);
}
.black .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-top-color: hsla(196,98%,50%,0);
    border-bottom-color: hsla(196,98%,50%,1);
    border-left-color: hsla(196,98%,50%,0);
    border-right-color: hsla(196,98%,50%,0);
}
.black .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-top-color: hsla(196,98%,50%,0);
    border-bottom-color: hsla(196,98%,50%,0);
    border-left-color: hsla(196,98%,50%,0);
    border-right-color: hsla(196,98%,50%,1);
}
.black .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-top-color: hsla(196,98%,50%,0);
    border-bottom-color: hsla(196,98%,50%,0);
    border-left-color: hsla(196,98%,50%,1);
    border-right-color: hsla(196,98%,50%,0);
}


.black .mx-controls-top 
{
  background-color: hsla(196,20%,10%,0.5);
  border: none;
}

.black .mx-controls li,
.black .mx-controls ul 
{
  border: none;
}

.black .mx-controls li:hover
{
  background-color: hsla(196,98%,50%,1);
}

.black .mx-controls-ul li:hover, 
.black .mx-controls-ul li:hover div {
    background-color: hsla(196,98%,50%,1);
    color: hsla(196,20%,10%,0.9);
}
.black .mx-controls li:hover .mx-pointer
{

  color: hsla(196,20%,10%,0.9);
}

/*.black .mx-check-view-label {*/
  /*background-color: hsla(196,20%,10%,0.9);*/
/*}*/

/*.black .mx-check-view-options {*/
  /*background-color: hsla(196,20%,10%,0.9);*/
/*}*/


/*.black .mx-check-view-enable:checked + .mx-view-title-container */
/*{*/
  /*border-left : 3px solid hsla(196,98%,50%,1);*/
  /*padding-left : 6px;*/
/*}*/

/*.black .mx-check-view-input:checked + .mx-check-view-label */
/*{*/
  /*border-left : 2px solid hsla(196,98%,50%,1);*/
  /*padding-left : 6px;*/
/*}*/

/**
* Slider
*/
.black .mx-slider-container .noUi-horizontal .noUi-handle {
  background-color: hsla(196,20%,10%,0.9);
    border: 1px solid hsla(196,98%,50%,1);
}

.black .mx-slider-container .noUi-target {
  background : none;
  border :1px solid hsla(196,98%,20%,1);
  border-radius: 2.5px;
  box-shadow: none;
}
.black .mx-slider-container .noUi-connect:after {
  background-color: hsla(196,98%,50%,1);
}

.black .mx-slider-container .noUi-connect {
    background: hsla(196,98%,50%,1);
    height: 1px;
    top: 1px;
}


.black .mx-slider-container .noUi-horizontal .noUi-tooltip {
    color: hsla(196,98%,50%,1);
    background: none;
    border: none;
}



/*.black .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in,*/
/*.black .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out,*/
/*.black .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass span*/
/*{*/
  /*background-image : none;*/
  /*font-family : fontawesome;*/
/*}*/

/*.black .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in:before*/
/*{*/
  /*content:"\f067";*/
/*}*/

/*.black .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out:before*/
/*{*/
  /*content:"\f068";*/
/*}*/

/*.black .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass span:before*/
/*{*/
  /*content:"\f05b";*/
/*}*/

/*.black .mapboxgl-ctrl.mapboxgl-ctrl-attrib {*/
  /*background-color: hsl(207, 18%, 10%);*/
/*}*/

/*.black .mapboxgl-ctrl.mapboxgl-ctrl-attrib a{*/
  /*color: hsla(196,98%,30%,1);*/
/*}*/


