
/** Black modifiers
*
*/

/*.mx * {   */
  /*--mx_ui_text : hsla(196, 98%, 50%,1);*/
  /*--mx_ui_hidden : hsla(196, 98%, 50%,0);*/
  /*--mx_ui_border : hsla(196, 98%, 20%,0.9);*/
  /*--mx_ui_background : hsla(196, 98%, 10%,0.8);*/
  /*--mx_ui_shadow : hsla(196, 98%, 30%, 0.3);*/
  /*border-color : var(--mx_ui_border);*/
  /*color: var(--mx_ui_text);*/
/*}*/
.mx * {   
  --mx_ui_text: hsl(0, 0%, 21%);
  --mx_ui_text_faded: hsla(0, 0%, 21%,0.5);
  --mx_ui_hidden: hsla(196, 98%, 50%,0);
  --mx_ui_border: hsl(0, 0%, 81%);
  --mx_ui_background: hsla(0, 0%, 97%, 0.95);
  --mx_ui_shadow: hsla(0, 0%, 60%, 0.3);
  border-color: var(--mx_ui_border);
  color: var(--mx_ui_text);
}

.mx select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 
/* targeting ie 9 and 10*/
@media screen and (min-width:0{{ content }}) {
  select {
    background:none;
    padding: 5px;
  }
}

.mx .theme_colors label {
  color : var(--mx_ui_text); 
}

.mx .transparent{
  transition: background-color 0.3s ease-in 0s; 
  background-color: var(--mx_ui_background) ;
  border-color : var(--mx_ui_border);
}

.mx .shadow {
  -webkit-box-box-shadow : 1px 1px 4px 0px var(--mx_ui_shadow);
  -moz-box-shadow : 1px 1px 4px 0px var(--mx_ui_shadow);
  box-shadow : 1px 1px 4px 0px var(--mx_ui_shadow);
  transition: box-shadow 0.1s ease-in-out;
}


/**
* Filter toggle view class label 
*/
.mx .check-toggle .check-toggle-label {
  color:var(--mx_ui_text_faded);
}

.mx-views-content {
  border-bottom: 1px solid var(--mx_ui_border);
  border-top: 1px solid var(--mx_ui_border);
}


/*.mx .shadow-inset {*/
  /*position:relative;*/
  /*-webkit-box-shadow: inset  2px 2px 5px 0 var(--mx_ui_shadow);  */
  /*-moz-box-shadow: inset  2px 2px 5px 0 var(--mx_ui_shadow);*/
  /*box-shadow : inset 2px 2px 5px 0 var(--mx_ui_shadow);*/
  /*pointer-events:none;*/
  /*z-index:2;*/
/*}*/

.mx .jed-container div[data-schematype='object'] {
    border-radius: 5px;
    border : 1px solid var(--mx_ui_border);
}

.mx .jed-container .jed-error {
  border-left: 1px solid red !important;
}

.mx .transparent:hover {
  background-color: var(--mx_ui_background);
}

.mx .opaque
{
  background-color: var(--mx_ui_background);
}
/*
* map-x general changes
* 
*/
.mx .mx-flex-content {
  border-top: 1px solid ;
  border-bottom: 1px solid;
}

.mx ::-webkit-input-placeholder {
   color: var(--mx_ui_border);
}

.mx :-moz-placeholder { /* Firefox 18- */
   color: var(--mx_ui_border);  
}

.mx ::-moz-placeholder {  /* Firefox 19+ */
   color: var(--mx_ui_border);  
}

.mx :-ms-input-placeholder {  
   color: var(--mx_ui_border);  
}

.mx .mx-modal-container,
.mx .selectize-dropdown,
.mx .mapboxgl-ctrl.mapboxgl-ctrl-scale,
.mx .mapboxgl-ctrl.mx-north-arrow, 
.mx .mapboxgl-popup-content
{
  border : 1px solid var(--mx_ui_border);
  background-color: var(--mx_ui_background);
  -webkit-box-shadow:  2px 2px 5px 0 var(--mx_ui_shadow);  
  -moz-box-shadow:  2px 2px 5px 0 var(--mx_ui_shadow);
  box-shadow :  2px 2px 5px 0 var(--mx_ui_shadow);
}


.mx .mx-modal-top ,
.mx .mx-modal-top * {
  color:var(--mx_ui_background);
}

.mx .mx-modal-top {
  background-color:var(--mx_ui_text);
  /*border-bottom: 1px solid var(--mx_ui_text);*/
}

/* Note : see also loading screen background*/
.mx .mx-modal-background {
  background-color:var(--mx_ui_shadow);
  opacity:0.3;
}

.mx .mx-modal-body {
    border-top: 1px solid var(--mx_ui_border);
    border-bottom: 1px solid var(--mx_ui_border);
}


.mx .mx-popup-container {
  border-bottom: 1px solid var(--mx_ui_border);
  border-top: 1px solid var(--mx_ui_border);
}


.mx .badge
{
background-color: #F00;
color: #FFF;
}



/*.mx .mx-modal-top.mx-modal-drag-enable{*/
  /*background-color: var(--mx_ui_border);*/
/*}*/


.mx .input-group-addon {
  background-color: var(--mx_ui_border);
}

.mx .well,
.mx .form-control,
.mx .btn,
.mx .selectize-control.single .selectize-input,
.mx .selectize-control.single .selectize-input.input-active,
.mx .selectize-control.single .selectize-input .dropdown-active,
.mx .selectize-input,
.mx .selectize-control.multi .selectize-input > div,
.mx .list-group-item
{
  color: var(--mx_ui_text);
  border-radius: 5px;
  border-color: var(--mx_ui_border);
  background-color: var(--mx_ui_background);
  -webkit-box-shadow: none;
  box-shadow: none;
} 

.list-group .list-group-item-member {
  border: 1px solid var(--mx_ui_border);
}

.mx .jed-container .well {
  border-left: var(--mx_ui_border);
}



.mx .form.group .form-control.selectize-control {
   border:none;
   background:none;
}

.mx .selectize-control.single .selectize-input:after,
.mx .selectize-control.single .selectize-input.dropdown-active:after,
.mx .selectize-dropdown.form-control{
  background-color: var(--mx_ui_background);
  border-color: var(--mx_ui_border);
}

.mx .btn-circle:hover,
.mx .btn-circle:focus,
.mx .btn-circle:hover i:before,
.mx .btn-circle:focus i:before, 
.mx .selectize-dropdown .active,
.mx .selectize-dropdown [data-selectable] .highlight,
.mx .btn:hover,
.mx .btn:hover div,
.mx .btn:hover i,
.mx [class*=hint--]:after
{
  color: var(--mx_ui_background);
  background-color: var(--mx_ui_text);
  outline :0;
  text-shadow: none;
  box-shadow 4px 4px 8px var(--mx-shadow); 
}

/*
* Mapbox gl css changes
*/
.mx .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_hidden);
    border-bottom-color: var(--mx_ui_text);
    border-left-color: var(--mx_ui_hidden);
    border-right-color: var(--mx_ui_hidden);
}
.mx .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_text);
    border-bottom-color: var(--mx_ui_hidden);
    border-left-color: var(--mx_ui_hidden);
    border-right-color: var(--mx_ui_hidden);
}
.mx .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_hidden);
    border-bottom-color: var(--mx_ui_hidden);
    border-left-color: var(--mx_ui_text);
    border-right-color: var(--mx_ui_hidden);
}
.mx .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-top-color: var(--mx_ui_hidden);
    border-bottom-color: var(--mx_ui_hidden);
    border-left-color: var(--mx_ui_text);
    border-right-color: var(--mx_ui_hidden);
}


.mx .mx-controls-ul 
{
  border: none;
  background: none;
}

.mx .mx-controls li,
.mx .mx-controls ul 
{
  border: none;
}

.mx .mx-controls-ul li
{
  background-color: var(--mx_ui_background);
}


.mx .mx-controls li:hover
{
  background-color: var(--mx_ui_text);
}

.mx .mx-controls-ul li:hover, 
.mx .mx-controls-ul li:hover div,
.mx .mx-controls-ul .active,
.mx .mx-controls-ul .active div
{
    background-color: var(--mx_ui_text);
    color: var(--mx_ui_background);
}

/**
* Progress bar
*/

.loading-screen {
}

.loading-container {
  background-color : var(--mx_ui_background);
  color: var(--mx_ui_text) ;
}

/* Note : see also modal background*/
.loading-screen-background {
  background-color : var(--mx_ui_shadow);
  opacity:0.3;
}
.loading-bar-out { 
  border:1px solid var(--mx_ui_text);
}

.loading-bar-in {
  background-color: var(--mx_ui_text) ;
}

.loading-bar-txt {
  color: var(--mx_ui_text) ;
}

/**
* Slider
*/
.mx .mx-slider-container .noUi-horizontal .noUi-handle {
  background-color: var(--mx_ui_background);
  border: 1px solid var(--mx_ui_border);
}

.mx .mx-slider-container .noUi-target {
  border :1px solid var(--mx_ui_border);
}

.mx .mx-slider-container .noUi-connect {
    background: var(--mx_ui_border);
}

.mx .mx-slider-container .noUi-horizontal .noUi-tooltip {
    color: var(--mx_ui_text);
}

.mx-story-step-bullet{
  background: var(--mx_ui_background);
  color: var(--mx_ui_text);
}

.mx .mx-story-step-bullet.mx-story-step-active ,
.mx .mx-story-step-bullet:hover {
  background: var(--mx_ui_text);
  color:var(--mx_ui_background);
}




