.search--container {
  --search_highlight: linear-gradient(
    to right,
    rgb(17, 178, 248),
    rgba(17, 178, 248, 20%) 4%,
    rgba(17, 176, 248, 48%)
  );

  @import 'style_pagination.less';
  @import 'style_stats.less';
  @import 'style_filters.less';

  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .search--input-container {
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .search--input {
      border-radius: 5px;
      box-shadow: none;
      transition: none;
      padding: 4px 4px 4px 15px;
      flex-grow: 1;
      border: 1px solid var(--mx_ui_border);
      border-radius: 10px;
      min-height: 30px;
      resize: none;
      background: var(--mx_ui_background_contrast);
    }
  }
  .search--footer {
    padding: 10px;
    .search--pagination-container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .search--cutext {
    > summary {
      cursor: pointer;
      outline: none;
      display: list-item;
    }
    padding: 0px;
    cursor: inherit;
  }
  .search--results {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid var(--mx_ui_border);
    border-bottom: 1px solid var(--mx_ui_border);
    background: var(--mx_ui_background);
    padding: 30px;
    &:empty:before {
      content: attr(msg_no_views);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 100%;
      height: 100%;
    }
    &:not(:empty):after {
      content: attr(msg_loading);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 100%;
      height: 30px;
      color: var(--mx_ui_text_faded);
    }
    .search--results-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      &:after {
        content: '';
        width: 80%;
        border-bottom: 1px solid var(--mx_ui_border);
        margin: auto;
        margin-top: 30px;
      }
      .search--item-title {
        display: flex;
        font-size: 1.2em;
        margin-bottom: 10px;
      }
      .search--item-buttons-bar {
        display: flex;
      }
      .search--item-info {
        overflow: hidden;
        .search--item-info-snipet {
          display: inline;
          cursor: help;
          color: var(--mx_ui_text_faded);
        }
      }
      em {
        font-style: normal;
        color: var(--mx_ui_text);
        border-radius: 0em 0.3em;
        background-image: var(--search_highlight);
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
    }
  }

  .search--button-group {
    display: flex;
    flex-wrap: wrap;
    max-height: 6em;
    overflow: auto;
    > .search--button-keyword {
      cursor: pointer;
      margin: 3px;
      text-transform: capitalize;
      font-size: 0.85em;
      > * {
        pointer-events: none;
      }
      > span {
        margin: 3px;
      }
      /*&:hover {*/
      opacity: 1;
      /*}*/
    }
    .search--button-keyword-enabled {
      text-decoration:underline;
    }
  }
  .search--flag {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 10px;
    height: 10px;
    background-color: red !important;
    border-radius: 50%;
    display: none;
    &.active {
      display: block;
    }
  }

  .search--hidden {
    display: none;
  }
}
