
.li-item {
  width: 100%;
}

.li-item {
  max-height:1000px;
  opacity:1;
  will-change: transform;
}

.li-item:hover {
  position: relative;
  z-index: 100;
}


.li-item.li-item-hidden,
.li-group.li-group-collapsed .li-item,
.li-group.li-group-collapsed .li-group {
  display: none;
}

.li-item-content {
  height: auto;
}

.li-item,
.li-group {
  transition: box-shadow 1s;
}

.li-group {
  padding: 5px;
  margin: 1px;
  border-left: 3px solid #333;
}

.li-group:not(.li-group-collapsed) {
  min-height: 40px;
}

.li-group.li-group-invisible {
  padding: 0px;
  margin: 0px;
  border: none;
  min-height: 0px;
}

.li-group.li-group-invisible .li-group-header {
  display: none;
}

.li-group-header {
  font-size: 1em;
  width: 100%;
  display: flex;
  align-items: center;
}
.li-group-label {
  opacity: 0.6;
  font-size: 0.8em;
  margin-left: 5px;
}
.li-group-label {
  font-size: 0.8em;
}
.li-group-caret {
  margin: 4px;
}
.li-group-caret:hover {
  cursor: pointer;
}
.li-group-collapsed .li-group-caret {
  transform: rotate(-90deg);
}

.li-group-button span {
}

.li-group-header:hover .li-group-button {
  opacity: 1;
  pointer-events: auto;
}

.li-draggable {
  cursor: grab;
}
.li-dragged {
  opacity: 0.2;
   z-index:-1;
}
.li-global-dragging * {
  cursor: grabbing !important;
}

.li-context-menu {
  z-index: 1000;
  padding: 5px;
  width: 300px;
  min-height: 40px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.38);
  background: #eee;
}

.li-context-menu-target-focus {
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.38);
}

.li-context-menu-item {
  min-height: 40px;
  width: 100%;
}
.li-context-menu-group {
  width: 100%;
}
.li-context-menu-group > * {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
}
.li-context-menu-header {
  display: block;
  padding-top: 5px;
  background: #eee;
  line-height: 1.6em;
  opacity: 0.7;
  font-size: 0.85em;
  text-align: center;
}
.li-context-menu-button {
  display: block;
  padding: 2px;
  background: #eee;
  line-height: 1.6em;
  cursor: pointer;
}

.li-context-menu-button:hover {
  background: #fff;
}
.li-context-menu-input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.li-context-menu-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  flex-grow: 1;
  background: #fff;
  padding: 3px;
  margin-left: 5px;
  max-width:50%;
}

.li-arrow-bottom {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #474747;
}
