/**
* Additional handsontable styling to work with MapX themes 
*/ 


/**
* Overwrite hardcoded values 
*/ 
.handsontable .wtBorder.current,
.handsontable .wtBorder.area {
  background-color: var(--mx_ui_input_accent) !important;
  background-color: var(--mx_ui_input_accent) !important;
}

.handsontable tr {
  background-color: var(--mx_ui_background);
}


/**
* Based on original CSS 
* - extracted manually all rules definining colors
*/ 
.handsontable th,
.handsontable td {
  border-right: 1px solid var(--mx_ui_border);
  border-bottom: 1px solid var(--mx_ui_border);
  background-color: var(--mx_ui_background);
}

.handsontable td.htInvalid {
  /*gives priority over td.area selection background*/
  background-color: var(--mx_ui_message_danger) !important;
}

.handsontable th:last-child {
  /*Foundation framework fix*/
  border-right: 1px solid var(--mx_ui_border);
  border-bottom: 1px solid var(--mx_ui_border);
}

.handsontable tr:first-child th.htNoFrame,
.handsontable th:first-child.htNoFrame,
.handsontable th.htNoFrame {
  background-color: var(--mx_ui_background);
  border-color: var(--mx_ui_background);
}

.handsontable th:first-child,
.handsontable th:nth-child(2),
.handsontable td:first-of-type,
.handsontable .htNoFrame + th,
.handsontable .htNoFrame + td {
  border-left: 1px solid var(--mx_ui_border);
}

.handsontable.htRowHeaders thead tr th:nth-child(2) {
  border-left: 1px solid var(--mx_ui_border);
}

.handsontable tr:first-child th,
.handsontable tr:first-child td {
  border-top: 1px solid var(--mx_ui_border);
}

.handsontable th {
  background-color: var(--mx_ui_background);
  color: var(--mx_ui_text_faded);
}

.handsontable th.active {
  background-color: var(--mx_ui_background_contrast);
}

#hot-display-license-info {
  color: var(--mx_ui_text_faded);
}

.handsontable .manualColumnResizer:hover,
.handsontable .manualColumnResizer.active,
.handsontable .manualRowResizer:hover,
.handsontable .manualRowResizer.active {
  background-color: var(--mx_ui_input_accent);
}

.handsontable .manualColumnResizerGuide {
  background-color: var(--mx_ui_input_accent);
  border-right: 1px dashed var(--mx_ui_border);
}

.handsontable .manualRowResizerGuide {
  background-color: var(--mx_ui_input_accent);
  border-bottom: 1px dashed var(--mx_ui_border);
}

.handsontable span.colHeader.columnSorting.ascending::before {
  /* arrow up */
  background-image: none;
  content: "↑";
  color: var(--mx_ui_text);
}

.handsontable span.colHeader.columnSorting.descending::before {
  /* arrow down */
  background-image: none;
  content: "↓";
  color: var(--mx_ui_text);
}

.handsontable td.area:before,
.handsontable td.area-1:before,
.handsontable td.area-2:before,
.handsontable td.area-3:before,
.handsontable td.area-4:before,
.handsontable td.area-5:before,
.handsontable td.area-6:before,
.handsontable td.area-7:before {
  background: var(--mx_ui_input_accent);
}

.handsontable tbody th.ht__highlight,
.handsontable thead th.ht__highlight {
  background-color: var(--mx_ui_background_contrast);
}

.handsontable tbody th.ht__active_highlight,
.handsontable thead th.ht__active_highlight {
  background-color: var(--mx_ui_background_accent);
  color: var(--mx_ui_text);
}

.handsontable .htBorder.htFillBorder {
  background: var(--mx_ui_message_warning);
}

.handsontableInput {
  box-shadow: 0 0 0 2px var(--mx_ui_input_accent) inset;
  color: var(--mx_ui_text);
  background-color: var(--mx_ui_background_contrast);
}

.handsontable .htDimmed {
  color: var(--mx_ui_text_faded);
}

.handsontable .htSubmenu :after {
  content: "▶";
  color: var(--mx_ui_text_faded);
}

/*
TextRenderer placeholder value
*/

.handsontable .htPlaceholder {
  color: var(--mx_ui_text_faded);
}

/*
AutocompleteRenderer down arrow
*/

.handsontable .htAutocompleteArrow {
  color: var(--mx_ui_background);
}

.handsontable td .htAutocompleteArrow:hover {
  color: var(--mx_ui_background_contrast);
}

.handsontable td.area .htAutocompleteArrow {
  color: var(--mx_ui_background_contrast);
}

.handsontable.listbox .ht_master table {
  border: 1px solid var(--mx_ui_border);
  background: var(--mx_ui_background);
}

.handsontable.listbox tr td.current,
.handsontable.listbox tr:hover td {
  background: var(--mx_ui_background_contrast);
}

.handsontable td.htSearchResult {
  background: var(--mx_ui_background_contrast);
  color: var(--mx_ui_text_faded);
}

/*
Cell borders
*/
.htBordered.htTopBorderSolid {
  border-top-color: var(--mx_ui_border);
}
.htBordered.htRightBorderSolid {
  border-right-color: var(--mx_ui_border);
}
.htBordered.htBottomBorderSolid {
  border-bottom-color: var(--mx_ui_border);
}
.htBordered.htLeftBorderSolid {
  border-left-color: var(--mx_ui_border);
}

/**
* NOTE: Light color border 
*/
.handsontable tbody tr th:nth-last-child(2) {
  border-right: 1px solid var(--mx_ui_border);
}

.handsontable thead tr:nth-last-child(2) th.htGroupIndicatorContainer {
  border-bottom: 1px solid var(--mx_ui_border);
}

.ht_clone_top_left_corner thead tr th:nth-last-child(2) {
  border-right: 1px solid var(--mx_ui_border);
}

.htCollapseButton {
  border: 1px solid var(--mx_ui_background);
  -webkit-box-shadow: 1px 1px 3px var(--mx_ui_shadow);
  box-shadow: 1px 1px 3px var(--mx_ui_shadow);
}

.htCollapseButton:after {
  background: var(--mx_ui_background_faded);
}

thead .htCollapseButton {
  background: var(--mx_ui_background);
}
.handsontable tr th .htExpandButton {
  border: 1px solid var(--mx_ui_background_faded);
  -webkit-box-shadow: 1px 1px 3px var(--mx_ui_shadow);
  box-shadow: 1px 1px 3px var(--mx_ui_shadow);
}

.collapsibleIndicator {
  border: 1px solid var(--mx_ui_border);
  color: var(--mx_ui_background_accent);
  -webkit-box-shadow: 0 0 0 6px var(--mx_ui_shadow);
  -moz-box-shadow: 0 0 0 6px var(--mx_ui_shadow);
  box-shadow: 0 0 0 6px var(--mx_ui_shadow);
  background: var(--mx_ui_background_faded);
}

.handsontable table tr th.lightRightBorder {
  border-right: 1px solid var(--mx_ui_background_faded);
}
