.radial-progress {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute !important;
  z-index: 100;
  background: none !important;
  pointer-events: none;
  top: 0;
  left: 0;
}
